<template>
  <el-container v-if="basicData.parentShow" class="table_tem">
    <el-header v-if="!basicData.notShowOP">
      <div class="wrap clearFix">
        <div v-if="basicData.cSelectCinemaId!==undefined" class="itemWrap">
          <span class="title">选择影院：</span>
          <el-select v-model="basicData.cSelectCinemaId" placeholder="请选择" value="">
            <el-option label="杭州Y1影城星耀城店" value="33018471" />
            <el-option label="南宁Y1影城万象城店" value="45012401" />
            <el-option label="武汉Y1影城汉街万达广场店" value="42172701" />
            <el-option label="西安Y1影城影城高新万达广场店" value="61019701" />
            <el-option label="南昌Y1影城红谷滩店" value="36011001" />
            <el-option label="兰州Y1空间站影城" value="62014901" />
            <el-option label="上海Y2影城环球港店" value="31051401" />
            <el-option label="昆明Y2影城瑞鼎城店" value="53019101" />
            <el-option label="惠州Y2影城永旺店" value="44131291" />
            <el-option label="北京Y2影城五棵松店" value="11064201" />
            <el-option label="武汉Y3影城国广店" value="42011701" />
          </el-select>
        </div>
        <div v-if="basicData.typeName!==undefined" class="itemWrap">
          <span class="title">业务类型：</span>
          <el-select v-model="basicData.typeName" placeholder="请选择" value="">
            <el-option label="全部" value="" />
            <el-option label="专项金" value="1" />
            <el-option label="税务" value="2" />
            <el-option label="电影分账" value="3" />
          </el-select>
        </div>
        <div v-if="basicData.contractId!==undefined" class="itemWrap">
          <span class="title">合约ID：</span>
          <el-input
            v-model="basicData.contractId"
            class="searchFilmName"
            placeholder="请输入合约ID"
            clearable
          />
        </div>
        <div v-if="basicData.chainRelevantId!==undefined" style="width: 400px" class="itemWrap">
          <el-input
            v-model="basicData.chainRelevantId"
            placeholder="请输入ID"
            clearable
          />
        </div>
        <div v-if="basicData.searchFilmName!==undefined" class="itemWrap">
          <span class="title">选择电影：</span>
          <el-select v-model="basicData.searchFilmName" placeholder="请选择" value="">
            <el-option label="D1影片" value="001101582019" />
            <el-option label="D2影片" value="001100052019" />
            <el-option label="D3影片" value="001100182019" />
            <el-option label="D4影片" value="001106802019" />
            <el-option label="D5影片" value="001101652019" />
            <el-option label="D6影片" value="001104362019" />
            <el-option label="D7影片" value="001105222019" />
            <el-option label="D8影片" value="001105522019" />
            <el-option label="D9影片" value="001106782019" />
            <el-option label="D10影片" value="001100032019" />
          </el-select>
        </div>
        <div v-if="basicData.producer!==undefined" class="itemWrap">
          <span class="title">制片方：</span>
          <el-select v-model="basicData.producer" placeholder="请选择" value="">
            <el-option label="制片方1" value="1" />
            <el-option label="制片方2" value="2" />
          </el-select>
        </div>
        <div v-if="basicData.selectBoxDate!==undefined" class="itemWrap">
          <span class="title">日期：</span>
          <el-date-picker
            v-model="basicData.selectBoxDate"
            :editable="false"
            type="date"
            :clearable="false"
            placeholder="选择日期"
          />
        </div>
        <div v-if="basicData.searchFilmTime!==undefined" class="itemWrap">
          <span class="title">日期：</span>
          <el-date-picker
            v-model="basicData.searchFilmTime"
            class="searchFilmTime"
            type="daterange"
            align="center"
            :clearable="false"
            unlink-panels
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            :editable="false"
            :picker-options="basicData.pickerOptions"
          />
        </div>
        <div v-if="basicData.searchFilmMonth!==undefined" class="itemWrap">
          <span class="title">月份：</span>
          <el-date-picker
            :clearable="false"
            v-model="basicData.searchFilmMonth"
            class="searchFilmTime"
            type="month"
            placeholder="选择月份"
            :editable="false"
          />
        </div>
        <div v-if="basicData.belongCity!==undefined" class="itemWrap">
          <span class="title">所属城市：</span>
          <el-select v-model="basicData.belongCity" placeholder="请选择" value="">
            <el-option label="全部" value="1" />
            <el-option label="一线城市" value="2" />
            <el-option label="二线城市" value="3" />
            <el-option label="北京" value="4" />
            <el-option label="上海" value="5" />
          </el-select>
        </div>
        <div v-if="basicData.belongLine!==undefined" class="itemWrap">
          <span class="title">所属院线：</span>
          <el-select v-model="basicData.belongLine" placeholder="请选择" value="">
            <el-option label="Y1院线" value="3001" />
            <el-option label="Y2院线" value="3002" />
            <el-option label="Y3院线" value="3003" />
          </el-select>
        </div>
        <div v-if="basicData.belongCinema!==undefined" class="itemWrap">
          <span class="title">影院：</span>
          <el-select v-if="basicData.belongLine===''" v-model="basicData.belongCinema" placeholder="请选择" value="">
            <el-option label="杭州Y1影城星耀城店" value="33018471" />
            <el-option label="南宁Y1影城万象城店" value="45012401" />
            <el-option label="武汉Y1影城汉街万达广场店" value="42172701" />
            <el-option label="西安Y1影城影城高新万达广场店" value="61019701" />
            <el-option label="南昌Y1影城红谷滩店" value="36011001" />
            <el-option label="兰州Y1空间站影城" value="62014901" />
            <el-option label="上海Y2影城环球港店" value="31051401" />
            <el-option label="昆明Y2影城瑞鼎城店" value="53019101" />
            <el-option label="惠州Y2影城永旺店" value="44131291" />
            <el-option label="北京Y2影城五棵松店" value="11064201" />
            <el-option label="武汉Y3影城国广店" value="42011701" />
          </el-select>
          <el-select v-if="basicData.belongLine==='3001'" v-model="basicData.belongCinema" placeholder="请选择" value="">
            <el-option label="杭州Y1影城星耀城店" value="33018471" />
            <el-option label="南宁Y1影城万象城店" value="45012401" />
            <el-option label="武汉Y1影城汉街万达广场店" value="42172701" />
            <el-option label="西安Y1影城影城高新万达广场店" value="61019701" />
            <el-option label="南昌Y1影城红谷滩店" value="36011001" />
            <el-option label="兰州Y1空间站影城" value="62014901" />
          </el-select>
          <el-select v-if="basicData.belongLine==='3002'" v-model="basicData.belongCinema" placeholder="请选择" value="">
            <el-option label="上海Y2影城环球港店" value="31051401" />
            <el-option label="昆明Y2影城瑞鼎城店" value="53019101" />
            <el-option label="惠州Y2影城永旺店" value="44131291" />
            <el-option label="北京Y2影城五棵松店" value="11064201" />
          </el-select>
          <el-select v-if="basicData.belongLine==='3003'" v-model="basicData.belongCinema" placeholder="请选择" value="">
            <el-option label="武汉Y3影城国广店" value="42011701" />
          </el-select>
        </div>
        <div v-if="basicData.producerState!==undefined" class="itemWrap">
          <span class="title">合约状态：</span>
          <el-select v-model="basicData.producerState" placeholder="请选择" value="">
            <el-option label="全部" value="1" />
            <el-option label="新建" value="2" />
            <el-option label="待执行" value="3" />
            <el-option label="执行中" value="4" />
            <el-option label="已执行" value="5" />
          </el-select>
        </div>
        <div class="itemWrap">
          <el-button type="primary" size="medium" @click="$emit('searchBtn')">查询</el-button>
        </div>
        <div class="itemWrap">
<!--          <el-button type="primary" size="medium" @click="resetData">重置</el-button>-->
        </div>
      </div>
    </el-header>
    <el-main>
      <h2>{{ basicData.mainTitle ? basicData.mainTitle : '详细数据' }}</h2>
      <el-form v-if="basicData.form" ref="form" :model="basicData.form" label-width="80px">
        <el-form-item label="全部">
          <el-checkbox v-for="i in columnData" :key="i.title" v-model="i.show" :disabled="basicData.checkboxDName===i.title" :label="i" name="type">{{ i.name }}</el-checkbox>
        </el-form-item>
      </el-form>
      <el-table
        :data="tableData"
        border
        row-key="id"
        :show-summary="!basicData.hideSummary"
        style="width: 100%"
        :summary-method="getSummaries"
        :span-method="objectSpanMethod"
        @sort-change="sortChange"
      >
        <el-table-column
          v-if="!basicData.indexHide"
          label="排名"
          width="60"
          type="index"
        >
          <template slot-scope="scope">
            <span>{{ (scope.$index+(basicData.currentPage - 1) * defaultRow) + 1 }} </span>
          </template>
        </el-table-column>
        <el-table-column
          v-for="column in columnData"
          v-if="column.show && (column.title==='name' ||
            column.title==='cinemaname' ||
            column.title==='billDate' ||
            column.title==='cinemaName' ||
            column.title==='cinemaLName' ||
            column.title==='filmName' ||
            column.title==='theater' ||
            column.title==='filmNam' ||
            column.title==='shareRules' ||
            column.title==='customer' ||
            column.title==='shareRatio' ||
            column.title==='cityname' ||
            (column.title==='boxdate' && !basicData.isDateSort) ||
            column.title==='flowCode' ||
            column.title==='orderDate' ||
            column.title==='typeName' ||
            column.title==='payName' ||
            column.title==='boxAmountLC' ||
            column.title==='chargeName')"
          :key="column.title"
          label-class-name="name"
          :prop="column.title"
          :label="column.name"
          :min-width="column.width"
        >
          <template slot-scope="scope">
            <div v-if="column.title==='name'" :class="{pointer: basicData.clickName === 'BOFilm' || basicData.clickName === 'TicketQuery'}" @click="cellClick(scope.row)">{{ scope.row.name }}</div>
            <div v-if="column.title==='cinemaname'" :class="{pointer: (basicData.clickName === 'BOFilmCinema') || (basicData.clickName==='BOCinema')}" @click="cellClick(scope.row)">{{ scope.row.cinemaname }}</div>
            <div v-if="column.title==='billDate'">{{ scope.row.billDate }}</div>
            <div v-if="column.title==='flowCode'">{{ scope.row.flowCode }}</div>
            <div v-if="column.title==='orderDate'">{{ scope.row.orderDate }}</div>
            <div v-if="column.title==='typeName'">{{ scope.row.typeName }}</div>
            <div v-if="column.title==='payName'">{{ scope.row.payName }}</div>
            <div v-if="column.title==='chargeName'">{{ scope.row.chargeName }}</div>
            <div v-if="column.title==='cinemaName'">{{ scope.row.cinemaName }}</div>
            <div v-if="column.title==='cinemaLName'">{{ scope.row.cinemaLName }}</div>
            <div v-if="column.title==='filmNam'" class="pointer" @click="cellClick(scope.row)">{{ scope.row.filmNam }}</div>
            <div v-if="column.title==='theater'">{{ scope.row.theater }}</div>
            <div v-if="column.title==='filmName' && scope.row.filmName==='option'">
              <span class="click" @click="cinemaBillDetails(scope.row)">{{ basicData.isMerge==='close'?'详情':'收起' }}</span>
            </div>
            <div v-if="column.title==='filmName' && scope.row.filmName!=='option'">{{ scope.row.filmName }}</div>
            <div v-if="column.title==='boxAmountLC'">{{ scope.row.boxAmountLC | changeMNumber}}</div>
            <div v-if="column.title==='shareRules'">{{ scope.row.shareRules }}</div>
            <div v-if="column.title==='customer' && scope.row.customer==='option'">
              <span class="click" @click="cinemaBillDetails(scope.row)">{{ basicData.isMerge==='close'?'详情':'收起' }}</span>
            </div>
            <div v-if="column.title==='customer' && scope.row.customer!=='option'">{{ scope.row.customer }}</div>
            <div v-if="column.title==='shareRatio'">{{ scope.row.shareRatio }}</div>
            <div v-if="column.title==='cityname'">{{ scope.row.cityname }}</div>
            <div v-if="column.title==='boxdate'">{{ scope.row.boxdate | dateAddRod }}</div>
          </template>
        </el-table-column>
        <el-table-column
          v-for="column in columnData"
          v-if="column.show && (column.title==='boxamount' ||
            column.title==='onlineamount' ||
            column.title==='tickets' ||
            (column.title==='boxdate' && basicData.isDateSort) ||
            column.title==='sessions' ||
            column.title==='refundtickets' ||
            column.title==='occupancyrate' ||
            column.title==='checkedtickets' ||
            column.title==='checkedrate' ||
            column.title==='maxprice' ||
            column.title==='minprice' ||
            column.title==='averageprice' ||
            column.title==='onlinetickets' ||
            column.title==='refundamount' ||
            column.title==='totalseats' ||
            column.title==='shareAmount' ||
            column.title==='boxAmountCC' ||
            column.title==='amount' ||
            column.title==='specialFund' ||
            column.title==='taxAmount' ||
            column.title==='cinemaLFund')"
          :key="column.title"
          sortable="custom"
          label-class-name="name"
          :prop="column.title"
          :label="column.name"
          :min-width="column.width"
        >
          <template slot-scope="scope">
            <div v-if="column.title==='boxdate'">{{ scope.row.boxdate | dateAddRod }}</div>
            <div v-if="column.title==='boxamount'">{{ scope.row.boxamount | changeMNumber }}</div>
            <div v-if="column.title==='onlineamount'">{{ scope.row.onlineamount | changeMNumber }}</div>
            <div v-if="column.title==='tickets'">{{ scope.row.tickets | changePNumber }}</div>
            <div v-if="column.title==='sessions'">{{ scope.row.sessions | changePNumber }}</div>
            <div v-if="column.title==='refundtickets'">{{ scope.row.refundtickets | changePNumber }}</div>
            <div v-if="column.title==='occupancyrate'">{{ scope.row.occupancyrate | fPercentage }}</div>
            <div v-if="column.title==='checkedtickets'">{{ scope.row.checkedtickets | changePNumber }}</div>
            <div v-if="column.title==='checkedrate'">{{ scope.row.checkedrate | fPercentage }}</div>
            <div v-if="column.title==='maxprice'">{{ scope.row.maxprice | changeMNumber }}</div>
            <div v-if="column.title==='minprice'">{{ scope.row.minprice | changeMNumber }}</div>
            <div v-if="column.title==='averageprice'">{{ scope.row.averageprice | changeMNumber }}</div>
            <div v-if="column.title==='onlinetickets'">{{ scope.row.onlinetickets | changePNumber }}</div>
            <div v-if="column.title==='refundamount'">{{ scope.row.refundamount | changeMNumber }}</div>
            <div v-if="column.title==='totalseats'">{{ scope.row.totalseats | changePNumber }}</div>
            <div v-if="column.title==='shareAmount'">{{ scope.row.shareAmount | changeMNumber }}</div>
            <div v-if="column.title==='boxAmountCC'">{{ scope.row.boxAmountCC | changeMNumber }}</div>
            <div v-if="column.title==='amount'">{{ scope.row.amount | changeMNumber }}</div>
            <div v-if="column.title==='specialFund'">{{ scope.row.specialFund | changeMNumber }}</div>
            <div v-if="column.title==='taxAmount'">{{ scope.row.taxAmount | changeMNumber }}</div>
            <div v-if="column.title==='cinemaLFund'">{{ scope.row.cinemaLFund | changeMNumber }}</div>
          </template>
        </el-table-column>
        <el-table-column
          v-for="column in columnData"
          v-if="column.show && (column.title==='state' ||
            column.title==='payment' ||
            column.title==='checkContract' ||
            column.title==='viewImage'||
            column.title==='viewChain')"
          :key="column.title"
          label-class-name="name"
          :prop="column.title"
          :label="column.name"
          :min-width="column.width"
        >
          <template slot-scope="scope">
            <div v-if="column.title==='checkContract'">
              <el-button type="primary" size="mini" @click="viewContract(scope.row)">查看</el-button>
            </div>
            <div v-if="column.title==='viewChain'">
              <span class="el-icon-link click" @click="viewChain" />
            </div>
            <div v-if="column.title==='viewImage'">
              <span class="click" @click="viewImage(scope.row)">查看</span>
            </div>
            <div v-if="column.title==='state'">{{ scope.row.state }}</div>
            <div v-if="column.title==='payment'">
              <el-button type="primary" size="mini" @click="cBillPayment(scope.row)">付款</el-button>
            </div>
          </template>
        </el-table-column>
      </el-table>
    </el-main>
    <el-footer v-if="!basicData.isMerge" class="clearFix">
      <span class="pagingText">共 {{ basicData.totalNumber }} 条记录 第 {{ basicData.currentPage }} / {{ basicData.pageCount }} 页</span>
      <el-pagination
        background
        layout="prev, pager, next"
        :page-size="defaultRow"
        :total="basicData.totalNumber"
        :hide-on-single-page="true"
        :current-page.sync="basicData.currentPage"
        @current-change="$emit('handleCurrentChange', $event)"
      />
    </el-footer>
  </el-container>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'Index',
  props: {
    basicData: {
      type: Object,
      default: () => {
        return {}
      }
    },
    columnData: {
      type: Array,
      default: () => {
        return []
      }
    },
    tableData: {
      type: Array,
      default: () => {
        return []
      }
    },
    handleCurrentChange: {
      type: Function,
      default: () => () => {}
    }
  },
  data() {
    return {
    }
  },
  computed: {
    ...mapGetters([
      'defaultRow'
    ])
  },
  watch: {
    // 监听时间选择框，如果清空，则格式化表格
    'basicData.searchFilmTime': function(newVal) {
      if (!newVal) {
        this.$emit('format')
      }
    }
  },
  created() {
  },
  methods: {
    // 重置表头
    resetData() {
      this.basicData.typeName = this.basicData.typeName ? '' : undefined
      this.basicData.producer = this.basicData.producer ? '' : undefined
      this.basicData.contractId = this.basicData.contractId ? '' : undefined
      this.basicData.belongCity = this.basicData.belongCity ? '' : undefined
      this.basicData.belongLine = this.basicData.belongLine ? '' : undefined
      this.basicData.belongCinema = this.basicData.belongCinema ? '' : undefined
      this.basicData.selectBoxDate = this.basicData.selectBoxDate ? '' : undefined
      this.basicData.producerState = this.basicData.producerState ? '' : undefined
      this.basicData.searchFilmName = this.basicData.searchFilmName ? '' : undefined
      this.basicData.searchFilmMonth = this.basicData.searchFilmMonth ? '' : undefined
      this.basicData.chainRelevantId = this.basicData.chainRelevantId ? '' : undefined
      this.basicData.cSelectCinemaId = this.basicData.cSelectCinemaId ? '' : undefined
    },
    // 查看图片
    viewImage(row) {
      this.$emit('viewImage', row)
    },
    // 查看区块链
    viewChain(row) {
      this.$emit('viewChain', row)
    },
    // 表格排序改变时
    sortChange(column) {
      this.$emit('tableSort', column)
    },
    // 影院 及 院线 结算
    cBillPayment(row) {
      this.$emit('cBillPayment', row)
    },
    // 合并行
    objectSpanMethod({ rowIndex, columnIndex }) {
      // 用合并行 实现类似于展开闭合的效果
      // 院线账单
      if (this.basicData.belongLine) {
        if (this.basicData.isMerge === 'close') {
          if (rowIndex % this.tableData.length === 0) {
            return {
              rowspan: this.tableData.length,
              colspan: 1
            }
          } else {
            return {
              rowspan: 0,
              colspan: 0
            }
          }
        } else if (this.basicData.isMerge === 'open') {
          if (columnIndex !== 3 && columnIndex !== 4) {
            if (rowIndex % this.tableData.length === 0) {
              return {
                rowspan: this.tableData.length,
                colspan: 1
              }
            } else {
              return {
                rowspan: 0,
                colspan: 0
              }
            }
          }
        }
        return
      }
      // 影院账单
      if (this.basicData.isMerge === 'close') {
        if (rowIndex % this.tableData.length === 0) {
          return {
            rowspan: this.tableData.length,
            colspan: 1
          }
        } else {
          return {
            rowspan: 0,
            colspan: 0
          }
        }
      } else if (this.basicData.isMerge === 'open') {
        if (columnIndex !== 2 && columnIndex !== 3 && columnIndex !== 4 && columnIndex !== 5 && columnIndex !== 6) {
          if (rowIndex % this.tableData.length === 0) {
            return {
              rowspan: this.tableData.length,
              colspan: 1
            }
          } else {
            return {
              rowspan: 0,
              colspan: 0
            }
          }
        }
      }
    },
    // 详情 (根据名称或影院跳转到详情)
    cellClick(val) {
      this.$emit('toDetails', val)
    },
    // 影院账单 表单样式切换
    cinemaBillDetails() {
      this.$emit('switchMerge')
    },
    // to 合约详情
    viewContract(val) {
      this.$emit('contractDetails', val)
    },
    // 自定义合计统计方式
    getSummaries(param) {
      const { columns, data } = param
      const sums = []
      columns.forEach((column, index) => {
        if (index === 0) {
          sums[index] = '合计'
          return
        }
        // console.log(column.property, column.label);
        if (column.property === 'filmid' ||
          column.property === 'occupancyrate' ||
          column.property === 'maxprice' ||
          column.property === 'minprice' ||
          column.property === 'averageprice' ||
          column.property === 'checkedrate' ||
          column.property === 'boxdate' ||
          column.property === 'billDate' ||
          column.property === 'payName' ||
          column.property === 'chargeName' ||
          column.property === 'theater' ||
          column.property === 'orderDate' ||
          column.property === 'filmName') {
          return
        }
        const values = data.map(item => Number(item[column.property]))
        if (!values.every(value => isNaN(value))) {
          sums[index] = values.reduce((prev, curr) => {
            const value = Number(curr)
            if (!isNaN(value)) {
              return prev + curr
            } else {
              return prev
            }
          }, 0)
          // eslint-disable-next-line no-undef
          // 合计数据格式化
          if (column.property === 'boxamount' ||
            column.property === 'onlineamount' ||
            column.property === 'refundamount' ||
            column.property === 'boxAmount' ||
            column.property === 'specialFund' ||
            column.property === 'taxAmount' ||
            column.property === 'amount' ||
            column.property === 'cinemaLFund') {
            const regexp = /(?:\.0*|(\.\d+?)0+)$/
            if (sums[index] > 1000000) {
              sums[index] = JSON.stringify(sums[index]).slice(0, JSON.stringify(sums[index]).length - 4) / 100
              sums[index] += '万'
            } else {
              sums[index] = (sums[index] / 100).toFixed(2)
              sums[index] = sums[index].replace(regexp, '$1')
              sums[index] = Number(sums[index]).toFixed(2).toString()
            }
          } else {
            if (sums[index] > 10000) {
              sums[index] = JSON.stringify(sums[index]).slice(0, JSON.stringify(sums[index]).length - 2) / 100
              sums[index] += '万'
            } else {
              sums[index] = (sums[index] || 0).toString().replace(/(\d)(?=(?:\d{3})+$)/g, '$1,')
            }
          }
        } else {
          // sums[index] = 'N/A';
        }
      })

      return sums
    }
  }
}
</script>

<style scoped>

</style>
