<template>
  <div class="fLFD-container film-contract">
    <tableForm
      :basic-data="basicData"
      :column-data="columnData"
      :table-data="tableData"
      @contractDetails="contractDetails"
      @handleCurrentChange="handleCurrentChange"
      @searchBtn="changeTimeData()"
      @format="format"
    />
    <router-view />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import tool from '../../../utils/tool'
import getData from '../../../api/getData'
import tableForm from '../../../components/table-form/index'
export default {
  name: 'FilmContract',
  components: {
    tableForm
  },
  data() {
    return {
      // 表格数据
      columnData: [{
        title: 'name',
        name: '片名',
        width: '180',
        show: true
      }, {
        title: 'boxamount',
        name: '票房',
        width: '140',
        show: true
      }, {
        title: 'onlineamount',
        name: '网络票房',
        width: '140',
        show: true
      }, {
        title: 'tickets',
        name: '人次',
        width: '140',
        show: false
      }, {
        title: 'sessions',
        name: '场次',
        width: '100',
        show: false
      }, {
        title: 'refundtickets',
        name: '退票',
        width: '100',
        show: false
      }, {
        title: 'maxprice',
        name: '最高票价',
        width: '140',
        show: true
      }, {
        title: 'minprice',
        name: '最低票价',
        width: '140',
        show: true
      }, {
        title: 'onlinetickets',
        name: '网售票数',
        width: '140',
        show: false
      }, {
        title: 'refundamount',
        name: '退票金额',
        width: '120',
        show: false
      }, {
        title: 'checkContract',
        name: '操作',
        width: '100',
        show: true
      }],
      basicData: {
        // 搜索：合约id
        contractId: '',
        // 搜索：制片方
        producer: '',
        // 搜索：合约状态
        producerState: '',
        // 多选框默认选中的类名
        checkboxDName: 'name',
        // 日期选择插件快捷方法
        pickerOptions: {
          shortcuts: [{
            text: '最近一周',
            onClick(picker) {
              const end = new Date()
              const start = new Date()
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7)
              picker.$emit('pick', [start, end])
            }
          }, {
            text: '最近一个月',
            onClick(picker) {
              const end = new Date()
              const start = new Date()
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30)
              picker.$emit('pick', [start, end])
            }
          }, {
            text: '最近三个月',
            onClick(picker) {
              const end = new Date()
              const start = new Date()
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90)
              picker.$emit('pick', [start, end])
            }
          }]
        },
        // 是否显示父级的路由内容
        parentShow: false,
        // 筛选条件多选框
        form: {
          detailData: []
        },
        // 数据总条数
        totalNumber: 0,
        // 总页数
        pageCount: 0,
        // 当前页码
        currentPage: 1,
        // 搜索按电影名称
        searchFilmName: '',
        // 搜索按时间
        searchFilmTime: []
      },
      // 页面表格数据
      tableData: []
    }
  },
  computed: {
    ...mapGetters([
      'defaultRow'
    ])
  },
  created() {
    this.init()
  },
  methods: {
    // 查看合约详情
    contractDetails(row) {
      console.log(row)
      this.$store.dispatch('app/setContractInfo', JSON.stringify(row))
      this.$router.push({ name: 'contract-info' })
    },
    // 初始化
    init() {
      if (this.$route.name === 'film-contract-details' ||
        this.$route.name === 'cinema-contract-details' ||
        this.$route.name === 'pubThRelation' ||
        this.$route.name === 'theatreRatio' ||
        this.$route.name === 'contract-info') {
        this.basicData.parentShow = false
        return
      }
      this.basicData.parentShow = true
      const selectStartTime = new Date()
      const selectEndTime = new Date()
      this.basicData.searchFilmTime.push(selectStartTime, selectEndTime)
      selectStartTime.setTime(selectStartTime.getTime() - 24 * 60 * 60 * 1000)
      selectEndTime.setTime(selectEndTime.getTime())
      const requestData = {
        currentDate: tool.formatDate8(selectStartTime),
        offSet: 0
      }
      this.getFilmDailyData(requestData)
    },
    // 格式化页面
    format() {
      this.basicData.totalNumber = 0
      this.basicData.pageCount = 0
      this.tableData = []
    },
    // 获取数据
    getFilmDailyData(nData) {
      const requestData = {
        currentDate: nData.currentDate,
        sortName: 'boxamount',
        sortType: 0,
        offSet: nData.offSet,
        row: this.defaultRow
      }
      getData.getCurrentBO(requestData).then((data) => {
        if (data.status === 200) {
          this.basicData.currentPage = Number(requestData.offSet) / this.defaultRow + 1
          this.basicData.totalNumber = data.data.total
          this.basicData.pageCount = Math.ceil(data.data.total / this.defaultRow)
          this.tableData = []
          for (const i in data.data.content) {
            if (data.data.content.hasOwnProperty(i)) {
              this.tableData.push(data.data.content[i])
            }
          }
        }
      }).catch(err => {
        console.log(err)
      })
    },
    // 点击分页页码
    handleCurrentChange(val) {
      console.log(val)
      this.basicData.currentPage = val
      const selectStartTime = new Date(this.basicData.searchFilmTime[0])
      // eslint-disable-next-line no-unused-vars
      const selectEndTime = new Date(this.basicData.searchFilmTime[1])
      const requestData = {
        currentDate: tool.formatDate8(selectStartTime),
        offSet: (val - 1) * this.defaultRow
      }
      this.getFilmDailyData(requestData)
    },
    // 点击搜索按钮
    changeTimeData() {
      if (this.basicData.searchFilmTime === '') {
        return
      }
      const selectStartTime = new Date(this.basicData.searchFilmTime[0])
      // eslint-disable-next-line no-unused-vars
      const selectEndTime = new Date(this.basicData.searchFilmTime[1])
      console.log(selectStartTime)
      const requestData = {
        currentDate: tool.formatDate8(selectStartTime),
        offSet: 0
      }
      this.getFilmDailyData(requestData)
    }
  }
}
</script>

<style scoped>

</style>
