<template>
  <div style="height: 100%;width: 100%;overflow-y: auto">
    <div v-html="htmlData" style="height: 100%;width: 100%;overflow-y: auto"></div>
  </div>
</template>

<script>
// import getData from '../../api/getData'

export default {
  name: 'BoxOfficeRTime',
  data() {
    return {
      url: 'http://120.92.21.139:37788/webroot/decision/v5/design/report/share/cf2615bc11574efd8ae1c299d3d2e471?link=eyJhbGciOiJIUzI1NiJ9.eyJyZXBvcnRJZCI6ImNmMjYxNWJjMTE1NzRlZmQ4YWUxYzI5OWQzZDJlNDcxIiwidXNlcklkIjoiYjVmMGMyZWUtNjQwZi00MDM5LWE0ZDQtOTE4YjU1MzU0ODk4IiwianRpIjoiand0In0.mgRQLnJF7legS-55lA-7yAYgAnRmfPhACfhhbB6kmIY',
      htmlData: null
    }
  },
  created() {
    // getData.getIframe()
    //   .then((data) => {
    //     this.htmlData = data.data
    //   }).catch(error => {
    //     console.log(error)
    //   })
  }
}
</script>

<style scoped>

</style>
