<template>
  <div class="fLFD-container box-office-film">
    <tableForm
      :basic-data="basicData"
      :column-data="columnData"
      :table-data="tableData"
      @toDetails="toFilmDetails"
      @handleCurrentChange="handleCurrentChange"
      @searchBtn="changeTimeData()"
      @tableSort="tableSort"
      @format="format"
    />
    <router-view />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import tool from '../../../utils/tool'
import getData from '../../../api/getData'
import tableForm from '../../../components/table-form/index'
export default {
  name: 'BoxOfficeCinema',
  components: {
    tableForm
  },
  data() {
    return {
      sortName: 'boxamount',
      sortType: 0,
      // 表格数据
      columnData: [{
        title: 'cinemaname',
        name: '影院',
        width: '180',
        show: true
      }, {
        title: 'boxamount',
        name: '票房',
        width: '140',
        show: true
      }, {
        title: 'onlineamount',
        name: '网络票房',
        width: '140',
        show: true
      }, {
        title: 'tickets',
        name: '人次',
        width: '140',
        show: false
      }, {
        title: 'sessions',
        name: '场次',
        width: '100',
        show: false
      }, {
        title: 'refundtickets',
        name: '退票',
        width: '100',
        show: false
      }, {
        title: 'refundamount',
        name: '退票金额',
        width: '120',
        show: false
      }, {
        title: 'maxprice',
        name: '最高票价',
        width: '140',
        show: true
      }, {
        title: 'minprice',
        name: '最低票价',
        width: '140',
        show: true
      }, {
        title: 'onlinetickets',
        name: '网售票数',
        width: '140',
        show: false
      }],
      basicData: {
        clickName: 'BOCinema',
        // 多选框默认选中的类名
        checkboxDName: 'name',
        // 日期选择插件快捷方法
        pickerOptions: {
          shortcuts: [{
            text: '最近一周',
            onClick(picker) {
              const end = new Date()
              const start = new Date()
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7)
              picker.$emit('pick', [start, end])
            }
          }, {
            text: '最近一个月',
            onClick(picker) {
              const end = new Date()
              const start = new Date()
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30)
              picker.$emit('pick', [start, end])
            }
          }, {
            text: '最近三个月',
            onClick(picker) {
              const end = new Date()
              const start = new Date()
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90)
              picker.$emit('pick', [start, end])
            }
          }]
        },
        // 是否显示父级的路由内容
        parentShow: false,
        // 筛选条件多选框
        form: {
          detailData: []
        },
        // 数据总条数
        totalNumber: 0,
        // 总页数
        pageCount: 0,
        // 当前页码
        currentPage: 1,
        // 搜索按电影名称
        // searchFilmName: '',
        // 搜索按时间
        searchFilmTime: []
      },
      // 页面表格数据
      tableData: []
    }
  },
  computed: {
    ...mapGetters([
      'defaultRow'
    ])
  },
  created() {
    this.init()
  },
  methods: {
    // 初始化
    init() {
      if (this.$route.name === 'b-o-cinema-sort') {
        this.basicData.parentShow = false
        return
      }
      this.basicData.parentShow = true
      const selectStartTime = new Date()
      const selectEndTime = new Date()
      this.basicData.searchFilmTime.push(selectStartTime, selectStartTime)
      selectStartTime.setTime(selectStartTime.getTime() - 24 * 60 * 60 * 1000)
      selectEndTime.setTime(selectEndTime.getTime())
      const requestData = {
        currentDate: tool.formatDate8(selectStartTime),
        sortName: this.sortName,
        sortType: this.sortType,
        offSet: 0
      }
      this.getFilmDailyData(requestData)
    },
    // 按需排序
    tableSort(column) {
      if (!column.order) return
      this.sortName = column.prop
      this.sortType = column.order === 'ascending' ? 1 : 0
      const selectStartTime = new Date(this.basicData.searchFilmTime[0])
      // eslint-disable-next-line no-unused-vars
      const selectEndTime = new Date(this.basicData.searchFilmTime[1])
      const requestData = {
        currentDate: tool.formatDate8(selectStartTime),
        sortName: this.sortName,
        sortType: this.sortType,
        offSet: this.basicData.currentPage - 1
      }
      this.getFilmDailyData(requestData)
    },
    // 电影详情
    toFilmDetails(val) {
      console.log(val)
      this.$store.dispatch('app/setSelectCinema', JSON.stringify(val))
      this.$router.push({ name: 'b-o-cinema-sort' })
    },
    // 格式化页面
    format() {
      this.basicData.totalNumber = 0
      this.basicData.pageCount = 0
      this.tableData = []
    },
    // 获取数据
    getFilmDailyData(nData) {
      const requestData = {
        currentDate: nData.currentDate,
        sortName: nData.sortName,
        sortType: nData.sortType,
        offSet: nData.offSet,
        row: this.defaultRow
      }
      getData.getCinemaBO(requestData)
        .then((data) => {
          if (data.status === 200) {
            this.basicData.currentPage = Number(requestData.offSet) + 1
            this.basicData.totalNumber = data.data.total
            this.basicData.pageCount = Math.ceil(data.data.total / this.defaultRow)
            this.tableData = []
            for (const i in data.data.content) {
              if (data.data.content.hasOwnProperty(i)) {
                this.tableData.push(data.data.content[i])
              }
            }
          }
        }).catch(err => {
          tool.requestFail('获取票房统计失败，请稍后再试')
          console.log(err)
        })
    },
    // 点击分页页码
    handleCurrentChange(val) {
      const selectStartTime = new Date(this.basicData.searchFilmTime[0])
      // eslint-disable-next-line no-unused-vars
      const selectEndTime = new Date(this.basicData.searchFilmTime[1])
      const requestData = {
        currentDate: tool.formatDate8(selectStartTime),
        sortName: this.sortName,
        sortType: this.sortType,
        offSet: val - 1
      }
      this.getFilmDailyData(requestData)
    },
    // 点击搜索按钮
    changeTimeData() {
      if (this.basicData.searchFilmTime === '') {
        return
      }
      const selectStartTime = new Date(this.basicData.searchFilmTime[0])
      // eslint-disable-next-line no-unused-vars
      const selectEndTime = new Date(this.basicData.searchFilmTime[1])
      console.log(selectStartTime)
      const requestData = {
        currentDate: tool.formatDate8(selectStartTime),
        sortName: this.sortName,
        sortType: this.sortType,
        offSet: 0
      }
      this.getFilmDailyData(requestData)
    }
  }
}
</script>

<style lang="scss" scoped>
  .dashboard {
    &-container {
      margin: 30px;
    }
    &-text {
      font-size: 30px;
      line-height: 46px;
    }
  }
</style>
