<template>
  <div class="fLFD-container box-office-film">
    <tableForm
      :basic-data="basicData"
      :column-data="columnData"
      :table-data="tableData"
      @toDetails="toFilmDetails"
      @handleCurrentChange="handleCurrentChange"
      @searchBtn="changeTimeData()"
      @format="format"
    />
    <router-view />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import tool from '../../utils/tool'
import getData from '../../api/getData'
import tableForm from '../../components/table-form/index'
export default {
  name: 'CapitalFlow',
  components: {
    tableForm
  },
  data() {
    return {
      // 表格数据
      columnData: [{
        title: 'flowCode',
        name: '流水编号',
        width: '180',
        show: true
      }, {
        title: 'orderDate',
        name: '账单时间',
        width: '140',
        show: true
      }, {
        title: 'typeName',
        name: '业务类型',
        width: '140',
        show: true
      }, {
        title: 'payName',
        name: '付款方',
        width: '100',
        show: true
      }, {
        title: 'chargeName',
        name: '收款方',
        width: '100',
        show: true
      }, {
        title: 'amount',
        name: '金额',
        width: '140',
        show: true
      }],
      basicData: {
        typeName: '',
        indexHide: true,
        // 日期选择插件快捷方法
        pickerOptions: {
          shortcuts: [{
            text: '最近一周',
            onClick(picker) {
              const end = new Date()
              const start = new Date()
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7)
              picker.$emit('pick', [start, end])
            }
          }, {
            text: '最近一个月',
            onClick(picker) {
              const end = new Date()
              const start = new Date()
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30)
              picker.$emit('pick', [start, end])
            }
          }, {
            text: '最近三个月',
            onClick(picker) {
              const end = new Date()
              const start = new Date()
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90)
              picker.$emit('pick', [start, end])
            }
          }]
        },
        // 是否显示父级的路由内容
        parentShow: true,
        // 数据总条数
        totalNumber: 0,
        // 总页数
        pageCount: 0,
        // 当前页码
        currentPage: 1,
        // 搜索按时间
        searchFilmTime: []
      },
      sortName: 'boxamount',
      sortType: 0,
      // 页面表格数据
      tableData: []
    }
  },
  computed: {
    ...mapGetters([
      'defaultRow'
    ])
  },
  created() {
    this.init()
  },
  methods: {
    // 初始化
    init() {
      const selectStartTime = new Date()
      const selectEndTime = new Date()
      this.basicData.searchFilmTime.push(selectStartTime, selectEndTime)
      selectStartTime.setTime(selectStartTime.getTime() - 3600 * 1000 * 24 * 30)
      selectEndTime.setTime(selectEndTime.getTime())
      const requestData = {
        startDate: tool.formatDate8(selectStartTime),
        endDate: tool.formatDate8(selectEndTime),
        type: this.basicData.typeName,
        pageNo: 1
      }
      this.getFilmDailyData(requestData)
    },
    // 电影详情
    toFilmDetails(val) {
      console.log(val)
      this.$store.dispatch('app/setSelectFilm', JSON.stringify(val))
      this.$router.push({ name: 'box-office-sort' })
    },
    // 格式化页面
    format() {
      this.basicData.totalNumber = 0
      this.basicData.pageCount = 0
      this.tableData = []
    },
    // 获取数据
    getFilmDailyData(nData) {
      const requestData = {
        startDate: nData.startDate,
        endDate: nData.endDate,
        pageNo: nData.pageNo,
        type: nData.type,
        pageSize: this.defaultRow
      }
      getData.getCapitalFlow(requestData)
        .then((data) => {
          console.log(data.data)
          if (data.status === 200) {
            this.basicData.currentPage = requestData.pageNo
            this.basicData.totalNumber = data.data.totalElements
            this.basicData.pageCount = Math.ceil(data.data.totalElements / this.defaultRow)
            console.log()
            this.tableData = []
            for (const i in data.data.content) {
              if (data.data.content.hasOwnProperty(i)) {
                this.tableData.push(data.data.content[i])
              }
            }
          }
        }).catch(err => {
          tool.requestFail('获取资金流水统计失败，请稍后再试')
          console.log(err)
        })
    },
    // 点击分页页码
    handleCurrentChange(val) {
      const selectStartTime = new Date(this.basicData.searchFilmTime[0])
      // eslint-disable-next-line no-unused-vars
      const selectEndTime = new Date(this.basicData.searchFilmTime[1])
      const requestData = {
        startDate: tool.formatDate8(selectStartTime),
        endDate: tool.formatDate8(selectEndTime),
        type: Number(this.basicData.typeName),
        pageNo: val
      }
      this.getFilmDailyData(requestData)
    },
    // 点击搜索按钮
    changeTimeData() {
      if (!this.basicData.searchFilmTime) {
        return
      }
      const selectStartTime = new Date(this.basicData.searchFilmTime[0])
      // eslint-disable-next-line no-unused-vars
      const selectEndTime = new Date(this.basicData.searchFilmTime[1])
      const requestData = {
        startDate: tool.formatDate8(selectStartTime),
        endDate: tool.formatDate8(selectEndTime),
        type: Number(this.basicData.typeName),
        pageNo: 1
      }
      this.getFilmDailyData(requestData)
    }
  }
}
</script>

<style lang="scss" scoped>
  .dashboard {
    &-container {
      margin: 30px;
    }
    &-text {
      font-size: 30px;
      line-height: 46px;
    }
  }
</style>
