<template>
  <div class="fLFD-container box-office-film">
    <tableForm
      :basic-data="basicData"
      :column-data="columnData"
      :table-data="tableData"
      @searchBtn="changeTimeData()"
      @switchMerge="switchMerge"
      @cBillPayment="payment"
    />
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import tool from '../../utils/tool'
import getData from '../../api/getData'
import operateData from '../../api/operateData'
import tableForm from '../../components/table-form/index'
export default {
  name: 'CinemaLBill',
  components: {
    tableForm
  },
  data() {
    return {
      // 表格数据
      columnData: [{
        title: 'cinemaLName',
        name: '院线名称',
        width: '140',
        show: true
      }, {
        title: 'filmName',
        name: '电影名称',
        width: '140',
        show: true
      }, {
        title: 'boxAmountLC',
        name: '票房(元)',
        width: '100',
        show: true
      }, {
        title: 'customer',
        name: '客户名称',
        width: '120',
        show: true
      }, {
        title: 'shareAmount',
        name: '分账金额（元）',
        width: '140',
        show: true
      }, {
        title: 'state',
        name: '状态',
        width: '140',
        show: true
      }, {
        title: 'payment',
        name: '操作',
        width: '140',
        show: true
      }],
      basicData: {
        indexHide: true,
        // 搜索 电影id
        searchFilmName: '',
        // 搜索 院线id
        belongLine: '',
        // 展开 收起
        isMerge: 'close',
        // 隐藏合计
        hideSummary: true,
        // 日期选择插件快捷方法
        pickerOptions: {
          shortcuts: [{
            text: '最近一周',
            onClick(picker) {
              const end = new Date()
              const start = new Date()
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7)
              picker.$emit('pick', [start, end])
            }
          }, {
            text: '最近一个月',
            onClick(picker) {
              const end = new Date()
              const start = new Date()
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30)
              picker.$emit('pick', [start, end])
            }
          }, {
            text: '最近三个月',
            onClick(picker) {
              const end = new Date()
              const start = new Date()
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90)
              picker.$emit('pick', [start, end])
            }
          }]
        },
        // 是否显示父级的路由内容
        parentShow: true
      },
      // 页面表格数据
      tableData: []
    }
  },
  computed: {
    ...mapGetters([
      'defaultRow'
    ])
  },
  created() {
    this.init()
  },
  methods: {
    // 付款
    payment(row) {
      console.log(row)
      const requestData = {
        filmId: row.filmId,
        theatreId: row.theatreId
      }
      operateData.clearLToCustomer(requestData)
        .then((data) => {
          if (data.status === 200) {
            this.tableData = []
            tool.isSuccess('付款成功')
          }
        }).catch(error => {
          tool.requestFail('付款操作失败，请稍后再试')
          console.log(error)
        })
    },
    // 表格的展开收起
    switchMerge() {
      if (this.basicData.isMerge === 'open') {
        this.basicData.isMerge = 'close'
      } else {
        this.basicData.isMerge = 'open'
      }
    },
    // 初始化
    init() {
    },
    // 获取客户名称（测试暂用）
    getCustomerName(id) {
      switch (id) {
        case '1001':
          return 'Z1制片公司'
        case '1002':
          return 'Z2制片公司'
        case '1003':
          return 'Z3制片公司'
        case '1004':
          return 'Z4制片公司'
        case '1005':
          return 'Z5制片公司'
        case '1006':
          return 'Z6制片公司'
        case '1007':
          return 'Z7制片公司'
        case '1008':
          return 'Z8制片公司'
        case '1009':
          return 'Z9制片公司'
        case '2001':
          return 'F1发行公司'
        case '2002':
          return 'F2发行公司'
        case '2003':
          return 'F3发行公司'
        case '2004':
          return 'F4发行公司'
        case '2005':
          return 'F5发行公司'
        case '2006':
          return 'F6发行公司'
        case '2007':
          return 'F7发行公司'
        case '2008':
          return 'F8发行公司'
        case '2009':
          return 'F9发行公司'
        case '3001':
          return 'Y1院线'
        case '3002':
          return 'Y2院线'
        case '3003':
          return 'Y3院线'
        case '9001':
          return 'Q1公司'
        case '9002':
          return 'Q2公司'
        case '9003':
          return 'Q3公司'
        case '9004':
          return 'Q4公司'
        case '9005':
          return 'Q5公司'
      }
    },
    // 获取院线名称（测试暂用）
    getCinemaLName(id) {
      switch (id) {
        case '3001':
          return '上海联和'
        case '3004':
          return '金逸珠江'
      }
    },
    // 点击搜索按钮
    changeTimeData() {
      if (this.basicData.searchFilmName === '' || this.basicData.belongLine === '') {
        return
      }
      const requestData = {
        theatreId: this.basicData.belongLine,
        filmId: this.basicData.searchFilmName
      }
      this.getFilmDailyData(requestData)
    },
    // 获取数据
    getFilmDailyData(nData) {
      getData.getBillByCinemaL(nData)
        .then((data) => {
          const success = data.data
          if (data.status === 200) {
            if (!success.orgs) {
              this.tableData = []
              return
            }
            console.log(success)
            const billTotal = {
              filmId: this.basicData.searchFilmName,
              theatreId: this.basicData.belongLine,
              // 院线名称
              cinemaLName: success.theaterName,
              // 电影名称
              filmName: success.filmName,
              // 分账规则
              shareRules: '——',
              // 总票房
              boxAmountLC: success.boxAmount,
              // 客户名称
              customer: 'option',
              // 分账比例
              shareRatio: '比例，暂无',
              // 分账金额
              shareAmount: success.clearAmount,
              // 状态
              state: '未结算'
            }
            this.tableData = []
            console.log(success.orgs)
            for (const j in success.orgs) {
              if (success.orgs.hasOwnProperty(j)) {
                this.tableData.push({
                  // 院线名称
                  cinemaLName: success.theaterName,
                  // 电影名称
                  filmName: success.filmName,
                  // 分账规则
                  shareRules: '——',
                  // 总票房
                  boxAmountLC: success.boxAmount,
                  // 客户名称
                  customer: this.getCustomerName(success.orgs[j].id),
                  // 分账比例
                  shareRatio: '——',
                  // 分账金额
                  shareAmount: success.orgs[j].clearAmount,
                  // 状态
                  state: '未结算',
                  id: success.orgs[j].id
                })
              }
            }
            this.tableData.unshift(billTotal)
            console.log(this.tableData)
          }
        }).catch(err => {
          tool.requestFail('根据院线及电影获取账单失败，请稍后再试')
          console.log(err)
        })
    }
  }
}
</script>

<style lang="scss" scoped>
  .dashboard {
    &-container {
      margin: 30px;
    }
    &-text {
      font-size: 30px;
      line-height: 46px;
    }
  }
</style>
