<template>
  <div class="fLFD-container box-office-film">
    <tableForm
      :basic-data="basicData"
      :column-data="columnData"
      :table-data="tableData"
      @searchBtn="changeTimeData()"
      @switchMerge="switchMerge"
      @format="format"
      @cBillPayment="payment"
    />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import tool from '../../utils/tool'
import getData from '../../api/getData'
import operateData from '../../api/operateData'
import tableForm from '../../components/table-form/index'
export default {
  name: 'CinemaBill',
  components: {
    tableForm
  },
  data() {
    return {
      // 表格数据
      columnData: [{
        title: 'billDate',
        name: '账期',
        width: '100',
        show: true
      }, {
        title: 'cinemaName',
        name: '影院名称',
        width: '140',
        show: true
      }, {
        title: 'filmName',
        name: '电影名称',
        width: '140',
        show: true
      }, {
        title: 'boxAmountCC',
        name: '票房(元)',
        width: '100',
        show: true
      }, {
        title: 'specialFund',
        name: '专项金(元)',
        width: '120',
        show: true
      }, {
        title: 'taxAmount',
        name: '税(元)',
        width: '140',
        show: true
      }, {
        title: 'cinemaLFund',
        name: '院线(元)',
        width: '140',
        show: true
      }, {
        title: 'state',
        name: '状态',
        width: '140',
        show: true
      }, {
        title: 'payment',
        name: '操作',
        width: '140',
        show: true
      }],
      basicData: {
        indexHide: true,
        // 展开 收起
        isMerge: 'close',
        // 隐藏合计
        hideSummary: true,
        cSelectCinemaId: '',
        // 搜索按日期
        searchFilmMonth: '',
        // 日期选择插件快捷方法
        pickerOptions: {
          shortcuts: [{
            text: '最近一周',
            onClick(picker) {
              const end = new Date()
              const start = new Date()
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7)
              picker.$emit('pick', [start, end])
            }
          }, {
            text: '最近一个月',
            onClick(picker) {
              const end = new Date()
              const start = new Date()
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30)
              picker.$emit('pick', [start, end])
            }
          }, {
            text: '最近三个月',
            onClick(picker) {
              const end = new Date()
              const start = new Date()
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90)
              picker.$emit('pick', [start, end])
            }
          }]
        },
        // 是否显示父级的路由内容
        parentShow: true
      },
      // 页面表格数据
      tableData: []
    }
  },
  computed: {
    ...mapGetters([
      'defaultRow'
    ])
  },
  created() {
    this.init()
  },
  methods: {
    // 付款
    payment(row) {
      const requestData = {
        cinemaId: row.cinemaId,
        month: row.billDate.slice(0, 4) + row.billDate.slice(5)
      }
      operateData.clearCinemaToL(requestData)
        .then((data) => {
          if (data.status === 200) {
            this.tableData = []
            tool.isSuccess('付款成功')
          }
        }).catch(error => {
          tool.requestFail('结算操作失败，请稍后再试')
          console.log(error)
        })
    },
    // 格式化表格
    format() {
      this.tableData = []
    },
    // 表格的展开收起
    switchMerge() {
      if (this.basicData.isMerge === 'open') {
        this.basicData.isMerge = 'close'
      } else {
        this.basicData.isMerge = 'open'
      }
    },
    // 初始化
    init() {
    },
    // 获取影院名称（测试暂用）
    getCinemaName(id) {
      switch (id) {
        case '33018471':
          return '杭州Y1影城星耀城店'
        case '45012401':
          return '南宁Y1影城万象城店'
        case '42172701':
          return '武汉Y1影城汉街万达广场店'
        case '61019701':
          return '西安Y1影城影城高新万达广场店'
        case '36011001':
          return '南昌Y1影城红谷滩店'
        case '62014901':
          return '兰州Y1空间站影城'
        case '31051401':
          return '上海Y2影城环球港店'
        case '53019101':
          return '昆明Y2影城瑞鼎城店'
        case '44131291':
          return '惠州Y2影城永旺店'
        case '11064201':
          return '北京Y2影城五棵松店'
        case '42011701':
          return '武汉Y3影城国广店'
      }
    },
    // 获取院线名称（测试暂用）
    getCinemaLName(id) {
      switch (id) {
        case '3001':
          return 'Y1院线'
        case '3002':
          return 'Y2院线'
        case '3003':
          return 'Y3院线'
      }
    },
    // 点击搜索按钮
    changeTimeData() {
      if (this.basicData.searchFilmMonth === '' || this.basicData.cSelectCinemaId === '') {
        return
      }
      const requestData = {
        cinemaId: this.basicData.cSelectCinemaId,
        month: tool.formatDate6(this.basicData.searchFilmMonth)
      }
      this.getFilmDailyData(requestData)
    },
    // 获取数据
    getFilmDailyData(nData) {
      getData.getBillByCinema(nData)
        .then((data) => {
          console.log(data)
          const date = tool.formatDate6(this.basicData.searchFilmMonth).slice(0, 4) + '-' + tool.formatDate6(this.basicData.searchFilmMonth).slice(4)
          const success = data.data
          if (data.status === 200) {
            if (!success.filmData) {
              this.tableData = []
              return
            }
            this.tableData = []
            const billTotal = {
              cinemaId: this.basicData.cSelectCinemaId,
              month: tool.formatDate6(this.basicData.searchFilmMonth),
              // 账期
              billDate: date,
              // 影院名称
              cinemaName: this.getCinemaName(this.basicData.cSelectCinemaId),
              // 院线名称
              cinemaLName: '',
              // 电影名称
              filmName: 'option',
              // 分账规则
              shareRules: '——',
              // 总票房
              boxAmountCC: success.boxAmount,
              // 专项金
              specialFund: success.specialAmount,
              // 税额
              taxAmount: success.taxAmount,
              // 院线金额
              cinemaLFund: success.thAmount,
              // 状态
              state: '未结算'
            }
            for (const i in success.filmData) {
              if (success.filmData.hasOwnProperty(i)) {
                this.tableData.push({
                  // 账期
                  billDate: date,
                  // 影院名称
                  cinemaName: this.getCinemaName(this.basicData.cSelectCinemaId),
                  // 院线名称
                  cinemaLName: '',
                  // 电影名称
                  filmName: success.filmData[i].filmName,
                  // 分账规则
                  shareRules: '——',
                  // 总票房
                  boxAmountCC: success.filmData[i].boxAmount,
                  // 专项金
                  specialFund: success.filmData[i].specialAmount,
                  // 税额
                  taxAmount: success.filmData[i].taxAmount,
                  // 院线金额
                  cinemaLFund: success.filmData[i].thAmount,
                  // 子结构（日期）
                  children: success.filmData[i].dayData
                })
              }
            }
            this.tableData.unshift(billTotal)
            for (const i in this.tableData) {
              if (this.tableData.hasOwnProperty(i) && this.tableData[i].children) {
                for (const j in this.tableData[i].children) {
                  this.tableData[i].children[j].id = tool.generateUUID()
                }
              }
            }
          }
          console.log('tableData:', this.tableData)
        }).catch(err => {
          tool.requestFail('根据影院获取账单失败，请稍后再试')
          console.log(err)
        })
    }
  }
}
</script>

<style lang="scss" scoped>
  .dashboard {
    &-container {
      margin: 30px;
    }
    &-text {
      font-size: 30px;
      line-height: 46px;
    }
  }
</style>
