<template>
  <div class="">
    <el-header v-if="this.$route.name === 'pubThRelation'">
      <div class="wrap clearFix">
        <div class="itemWrap">
          <span class="title">电影名称：</span>
          <span class="info">{{ selectInfo.name }}</span>
        </div>
        <div class="itemWrap">
          <span class="title">电影编码：</span>
          <span class="info">{{ selectInfo.filmid }}</span>
        </div>
        <div class="itemWrap">
          <span class="title">可分配比例：</span>
          <span class="info">{{ form.cinemaSum }}%</span>
        </div>
      </div>
    </el-header>
    <el-form v-if="this.$route.name === 'pubThRelation'" ref="form" :model="form" label-width="0">
      <h2>比例详情</h2>
      <el-form-item class="formTableWrap">
        <el-table
          class="contractDetails"
          :data="form.contract"
          border
          style="width: 100%"
          empty-text="暂无规则"
        >
          <el-table-column
            label="序号"
            type="index"
            width="60"
          />
          <el-table-column
            label="院线方"
            min-width="80"
          >
            <template slot-scope="scope">
              <span>{{ getCinemaLineName(scope.row.theatreId) }}</span>
            </template>
          </el-table-column>
          <el-table-column
            prop="address"
            label="院线方比例"
            min-width="90"
          >
            <template slot-scope="scope">
              <span>{{ scope.row.theatreRatio }}%</span>
            </template>
          </el-table-column>
          <el-table-column
            label="操作"
            min-width="100"
          >
            <template slot-scope="scope">
              <span class="click" @click="setCinema(scope.row)">查看影院设置</span>
            </template>
          </el-table-column>
        </el-table>
      </el-form-item>
    </el-form>
    <router-view />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import getData from '../../../../../api/getData'
import tool from '../../../../../utils/tool'
export default {
  name: 'PubThRelation',
  data() {
    return {
      selectInfo: {},
      checkAll: false,
      checkedTheatre: [],
      theatres: [{
        name: 'Y1院线',
        id: '3001'
      }, {
        name: 'Y2院线',
        id: '3002'
      }, {
        name: 'Y3院线',
        id: '3003'
      }],
      isIndeterminate: true,
      dialogVisible: false,
      form: {
        // 电影名称
        filmName: '默认电影',
        // 影片编码
        filmId: '',
        // 发行方id
        issuerId: '',
        // 院线方占比
        theatreRatio: '',
        // 院线影院占比总和
        cinemaSum: '',
        // subid
        subId: '',
        // 发行方列表
        issuerIdList: [{
          name: '发行方1',
          id: '2001'
        }, {
          name: '发行方2',
          id: '2002'
        }, {
          name: '发行方3',
          id: '2003'
        }],
        // 院线列表
        cinemaLineList: [{
          name: '院线1',
          id: '3001'
        }, {
          name: '院线2',
          id: '3002'
        }, {
          name: '院线3',
          id: '3003'
        }],
        // 电影合约数据
        contract: []
      }
    }
  },
  computed: {
    ...mapGetters([
      'contractInfo'
    ])
  },
  created() {
    this.init()
  },
  methods: {
    // 初始化
    init() {
      this.selectInfo = JSON.parse(this.contractInfo)
      this.form.filmId = this.selectInfo.filmid
      this.form.filmName = this.getFilmName(this.form.filmId)
      this.form.theatreRatio = this.selectInfo.theatreRatio
      this.form.cinemaSum = this.selectInfo.theatreRatio
      this.form.subId = this.selectInfo.subid
      this.form.issuerId = this.selectInfo.issuerId
      const requestData = {
        filmId: this.selectInfo.filmid,
        publisherid: this.selectInfo.issuerId
      }
      getData.queryRelation(requestData)
        .then((data) => {
          if (data.status === 200 && data.data) {
            for (const i in data.data) {
              if (data.data.hasOwnProperty(i)) {
                this.checkedTheatre.push(data.data[i].theatreid)
                this.form.contract.push({
                  theatreId: data.data[i].theatreid,
                  // 院线方占比
                  theatreRatio: this.form.theatreRatio
                })
              }
            }
          }
        }).catch(error => {
          console.log(error)
          tool.requestFail('获取发行方与院线关系失败')
        })
    },
    getFilmName(id) {
      switch (id) {
        case '001101582019':
          return 'D1影片'
        case '001100052019':
          return 'D2影片'
        case '001100182019':
          return 'D3影片'
        case '001106802019':
          return 'D4影片'
        case '001101652019':
          return 'D5影片'
        case '001104362019':
          return 'D6影片'
        case '001105222019':
          return 'D7影片'
        case '001105522019':
          return 'D8影片'
        case '001106782019':
          return 'D9影片'
        case '001100032019':
          return 'D10影片'
      }
    },
    // 获取院线名称
    getCinemaLineName: function(value) {
      for (const i of this.theatres) {
        if (i.id === value) return i.name
      }
    },
    setCinema(row) {
      this.selectInfo.theatreId = row.theatreId
      this.$store.dispatch('app/setContractInfo', JSON.stringify(this.selectInfo))
      this.$router.push({ name: `theatreRatio` })
    }
  }
}
</script>

<style scoped>

</style>
