<template>
  <div>
    <el-header>
      <div class="wrap clearFix">
        <div class="itemWrap">
          <span class="title">电影名称：</span>
          <span class="info">{{ selectInfo.name }}</span>
        </div>
        <div class="itemWrap">
          <span class="title">电影编码：</span>
          <span class="info">{{ selectInfo.filmid }}</span>
        </div>
        <div class="itemWrap">
          <span class="title">可分配比例：</span>
          <span class="info">{{ form.cinemaSum }}%</span>
        </div>
      </div>
    </el-header>
    <el-form ref="form" class="theatreRatio" :model="form" label-width="0">
      <el-form-item class="formTableWrap">
        <el-table
          class="contractDetails"
          :data="form.contract"
          border
          style="width: 100%"
          empty-text="暂无规则"
        >
          <el-table-column
            label="序号"
            type="index"
            width="60"
          />
          <el-table-column
            prop="cinemaName"
            label="影院方"
            min-width="140"
          />
          <el-table-column
            prop="address"
            label="影院方比例"
            min-width="90"
          >
            <template slot-scope="scope">
              <el-input v-model="scope.row.cinemaRatio" size="small" /> %
            </template>
          </el-table-column>
          <el-table-column
            label="院线方"
            min-width="80"
          >
            <template slot-scope="scope">
              <span>{{ getCinemaLineName(scope.row.theatreId) }}</span>
            </template>
          </el-table-column>
          <el-table-column
            label="院线方比例"
            min-width="90"
          >
            <template slot-scope="scope">
              <span>{{ (form.cinemaSum - scope.row.cinemaRatio).toFixed(2) }}%</span>
            </template>
          </el-table-column>
        </el-table>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import getData from '../../../../../../api/getData'
import tool from '../../../../../../utils/tool'
export default {
  name: 'TheatreRatio',
  data() {
    return {
      selectInfo: {},
      theatres: [{
        name: 'Y1院线',
        id: '3001'
      }, {
        name: 'Y2院线',
        id: '3002'
      }, {
        name: 'Y3院线',
        id: '3003'
      }],
      form: {
        // 影片编码
        filmId: '',
        // 院线方占比
        cinemaLineRatio: '',
        // 影院方占比
        cinemaRatio: '',
        // 院线影院占比总和
        cinemaSum: '',
        // subid
        subId: '',
        // 电影合约数据
        contract: [],
        // y1影院
        cinemaListY1: [{
          name: '杭州Y1影城星耀城店',
          id: '33018471'
        }, {
          name: '南宁Y1影城万象城店',
          id: '45012401'
        }, {
          name: '武汉Y1影城汉街万达广场店',
          id: '42172701'
        }, {
          name: '西安Y1影城影城高新万达广场店',
          id: '61019701'
        }, {
          name: '南昌Y1影城红谷滩店',
          id: '36011001'
        }],
        // y2影院
        cinemaListY2: [{
          name: '上海Y2影城环球港店',
          id: '31051401'
        }, {
          name: '昆明Y2影城瑞鼎城店',
          id: '53019101'
        }, {
          name: '惠州Y2影城永旺店',
          id: '44131291'
        }, {
          name: '北京Y2影城五棵松店',
          id: '11064201'
        }],
        // y3院线
        cinemaListY3: [{
          name: '武汉Y3影城国广店',
          id: '42011701'
        }]
      }
    }
  },
  computed: {
    ...mapGetters([
      'contractInfo'
    ])
  },
  created() {
    this.init()
  },
  methods: {
    // 初始化
    init() {
      this.selectInfo = JSON.parse(this.contractInfo)
      const fromData = this.form
      fromData.subId = this.selectInfo.subid
      fromData.filmId = this.selectInfo.filmid
      fromData.theatreId = this.selectInfo.theatreId
      fromData.cinemaSum = this.selectInfo.theatreRatio
      const cinemaList = this.selectInfo.theatreId === '3001' ? fromData.cinemaListY1 : this.selectInfo.theatreId === '3002' ? fromData.cinemaListY2 : fromData.cinemaListY3
      for (const j of cinemaList) {
        fromData.contract.push({
          isOld: false,
          theatreId: this.selectInfo.theatreId,
          // 院线方占比
          theatreRatio: 0,
          // 影院名称
          cinemaName: j.name,
          // 影院id
          cinemaId: j.id,
          // 影院占比
          cinemaRatio: (Number(this.selectInfo.theatreRatio) - 1).toFixed(2)
        })
      }
      const requestData = {
        theatreId: this.selectInfo.theatreId,
        filmId: this.selectInfo.filmid
      }
      getData.queryTheatre(requestData)
        .then((data) => {
          const success = data.data.content
          for (const i in success) {
            if (success.hasOwnProperty(i)) {
              for (const j of fromData.contract) {
                if (success[i].cinemaId === j.cinemaId) {
                  j.cinemaRatio = tool.changePT(success[i].cinemaRate)
                  j.isOld = true
                }
              }
            }
          }
        }).catch(error => {
          console.log(error)
        })
    },
    // 获取院线名称
    getCinemaLineName(value) {
      for (const i of this.theatres) {
        if (i.id === value) return i.name
      }
    }
  }
}
</script>

<style scoped>

</style>
