<template>
  <div class="pieWrap clearFix">
    <div ref="chartPie" class="chartPie" style="width: 180px;height: 180px"></div>
    <div class="centerText">
      <p>{{ showType }}</p>
      <p>{{ showInfo }}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Pie',
  props: ['pieData'],
  data() {
    return {
      showType: '',
      showInfo: ''
    }
  },
  mounted() {
    this.showType = this.pieData.type
    this.showInfo = this.pieData.info
    this.drawLine()
  },
  methods: {
    drawLine() {
      // 基于准备好的dom，初始化echarts实例
      const myChart = this.$echarts.init(this.$refs.chartPie)
      const _this = this
      // 绘制图表
      myChart.setOption({
        tooltip: {
          trigger: 'item',
          formatter: '{a}<br/>{b}:{c}({d}%)'
        },
        color: ['#1a8aff', '#F56C6C'],
        series: [
          {
            name: '',
            type: 'pie',
            radius: ['50%', '70%'],
            avoidLabelOverlap: true,
            label: {
              normal: {
                show: false,
                position: 'center'
              },
              emphasis: {
                show: false,
                textStyle: {
                  fontSize: '20',
                  fontWeight: 'bold'
                }
              }
            },
            itemStyle: {
              normal: {
                borderWidth: 3,
                borderColor: '#fff'
              }
            },
            labelLine: {
              normal: {
                show: false
              }
            },
            data: this.pieData.type === '售票' ? [
              { value: this.pieData.info, name: this.pieData.type },
              { value: '', name: '异常' }
            ] : this.pieData.type === '监映' ? [
              { value: 1, name: this.pieData.type },
              { value: 0, name: '异常' }
            ] : this.pieData.type === '检票' ? [
              { value: this.pieData.info, name: this.pieData.type },
              { value: 20, name: '异常' }
            ] : this.pieData.type === '异检' ? [
              { value: this.pieData.info, name: this.pieData.type },
              { value: 20, name: '异常' }
            ] : this.pieData.type === '监票' ? [
              { value: this.pieData.info, name: this.pieData.type },
              { value: 20, name: '异常' }
            ] : []
          }
        ]
      })
      myChart.on('mouseover', function(params) {
        _this.showType = params.name
        if (params.value === 0) { _this.showInfo = '0.00' } else { _this.showInfo = params.value }
      })
    }
  }
}
</script>

<style scoped>
.chartPie{
  float: left;
}
</style>
