<template>
  <div style="padding: 0 15px;" @click="toggleClick">
    <span :class="{'is-active':isActive}" class="hamburger el-icon-s-unfold">
    </span>
  </div>
</template>

<script>
export default {
  name: 'Hamburger',
  props: {
    isActive: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    toggleClick() {
      this.$emit('toggleClick')
    }
  }
}
</script>

<style scoped>
.hamburger {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

.hamburger.is-active {
  /*transform: rotate(180deg);*/
}
.hamburger.is-active:before{
  content: "\e7a9";
}
.el-icon-s-unfold{
  font-size: 22px;
}
</style>
