body{
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei",Arial,sans-serif;
}
.app-main{
  .fLFD-container{
    padding: 20px;
    width: 100%;
    height: 100%;
    overflow: auto;
    & .table_tem{
      &>.el-header{
        background-color: #fff;
        padding: 10px 20px;
        height: auto !important;
        .wrap{
          .itemWrap{
            float: left;
            margin-right: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
            .title{
              font-size: 13px;
              color: #999999;
            }
            .el-button{
              height: 40px;
            }
          }
        }
        .searchFilmName{
          max-width: 200px;
          width: auto !important;
        }
        .searchFilmTime{
        }
      }
      &>.el-main{
        margin-top: 20px;
        background-color: #fff;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
        .el-table .cell{
          text-align: center;
        }
        &>.el-form{
          .el-form-item{
            .el-form-item__label{
              text-align: center;
            }
            .el-checkbox__label{
              color: #a6a6a6;
            }
          }
        }
        &>h2{
          font-size: 16px;
          margin-top: 0;
          width: 100%;
          color: #1f2f3d;
          font-weight: 600;
          padding-bottom: 10px;
          margin-bottom: 20px;
          border-bottom: 1px solid #EBEEF5;
        }
      }
      &>.el-footer{
        background-color: #fff;
        .pagingText{
          float: left;
          margin-left: 20px;
          color: #999999;
          font-size: 13px;
        }
        .el-pagination{
          float: right;
        }
      }
    }
    &.box-office-film{
      .box-office-details{
        width: 100%;
        height: 100%;
        .el-tabs{
          width: 100%;
          .el-tabs__header{
            padding: 20px 20px 1px 20px;
            background-color: #fff;
            .el-tabs__nav-wrap{
              &::after{
                height: 0;
              }
              .el-tabs__nav-scroll{
                .el-tabs__active-bar{
                  height: 3px;
                }
                .el-tabs__item{
                  font-size: 15px;
                }
              }
            }
          }
          .el-tabs__content{
            .el-tab-pane{
              .paneWrap{
              }
            }
          }
        }
      }
    }
    &.ticketDetails{
      width: 86%;
      margin: 0 auto;
      padding: 0;
      height: auto;
      .headDetails{
        margin-bottom: 20px;
        width: 100%;
        height: auto;
        padding: 20px;
        background-color: #fff;
        font-size: 16px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .textWrap{
          padding-right: 50px;
          border-right: 2px solid #eaeaea;
          &>li {
            text-align: left;
            margin-bottom: 20px;
            &:nth-last-of-type(1){
              margin-bottom: 0;
            }
            .title{
              color: #999999;
            }
            .info{
              color: #333333;
            }
          }
        }
        .chartWrap{
          .pieWrap{
            position: relative;
            float: left;
            display: flex;
            justify-content: center;
            align-items: center;
            .centerText{
              z-index: 0;
              position: absolute;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              p{
                color: #666666;
                font-size: 16px;
                display: block;
                &:nth-of-type(1){
                  color: #999999;
                  font-size: 13px;
                  margin-bottom: 5px;
                }
              }
            }
          }
        }
      }
      &>.el-tabs{
        .el-tabs__header{
          padding: 15px 20px 5px 20px;
          background-color: #fff;
          .el-tabs__nav-wrap{
            &::after{
              height: 0;
            }
            .el-tabs__nav-scroll{
              .el-tabs__active-bar{
                height: 3px;
              }
              .el-tabs__item{
                font-size: 15px;
              }
            }
          }
        }
        .el-tabs__content{
          .el-main{
            margin-top: 0;
          }
          .el-icon-link{
            font-size: 20px;
          }
          .monitorTicket{
            padding: 20px;
            background-color: #fff;
            .table_tem{
              width: 50%;
              float: left;
              .el-main{
                &>h2{
                  display: none;
                }
                .el-table td, .el-table th{
                  padding: 2px 0;
                }
              }
              .el-footer{
                margin-top: 12px;
              }
            }
            .monitorImg{
              float: right;
              width: 45%;
            }
          }
        }
      }
    }
    &.film-contract{
      .film-contract-Details{
        width: 100%;
        .detailsWrap{
          .el-alert{
            padding: 20px;
            .el-alert__title{
              font-size: 15px;
            }
            .el-alert__description{
              font-size: 14px;
            }
          }
          .filmInfo{
            margin-top: 20px;
            padding: 20px;
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            &>ul{
              li{
                margin-bottom: 10px;
                &>p{
                  border: 1px solid #EBEEF5;
                  padding: 10px;
                  font-size: 15px;
                  line-height: 20px;
                }
                .title, .info{
                  font-size: 16px;
                }
              }
            }
            .filmImg{
              margin-right: 20px;
              img{
                height: 200px;
              }
            }
          }
          &>.el-tabs{
            margin-top: 20px;
            padding: 20px;
            background-color: #fff;
            .el-tabs__header{
              .el-tabs__nav-wrap{
                &::after{
                  height: 0;
                }
                .el-tabs__item{
                  font-size: 15px;
                  font-weight: 600;
                }
                .el-tabs__active-bar{
                  height: 3px;
                }
              }
            }
            .el-tabs__content{
              .rulesWrap{
                .el-table--enable-row-hover .el-table__body tr:hover>td {
                  background-color: #ffffff !important;
                }
                .el-table td, .el-table th {
                  padding: 2px 0 !important;
                }
                .cell {
                  text-align: center;
                  padding: 3px;
                  &>.el-input{
                    .el-input__inner{
                      padding: 0 8px;
                    }
                    width: 72%;
                  }
                }
              }
              .has-gutter{
                tr th{
                  background-color: #f5f7fa;
                }
              }
            }
          }
        }
        .cinema-contract-details{
          width: 100%;
          &>.el-header{
            background-color: #ffffff;
            padding: 10px 20px;
            height: auto !important;
            .wrap{
              .itemWrap{
                width: 100%;
                float: left;
                margin-right: 10px;
                margin-top: 10px;
                margin-bottom: 10px;
                .title{
                  display: inline-block;
                  min-width: 80px;
                  font-size: 13px;
                  color: #999999;
                }
                .el-button{
                  height: 40px;
                }
              }
            }
            .filmName {
              max-width: 200px;
            }
          }
          &>.el-main{
            margin-top: 20px;
            background-color: #fff;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
            &>h2{
              font-size: 16px;
              margin-top: 0;
              width: 100%;
              color: #1f2f3d;
              font-weight: 600;
              padding-bottom: 10px;
              margin-bottom: 20px;
              border-bottom: 1px solid #EBEEF5;
            }
            .el-table--enable-row-hover .el-table__body tr:hover>td {
              background-color: #ffffff !important;
            }
            .el-table td, .el-table th {
            }
            .cell {
              text-align: center;
              padding: 3px;
              &>.el-input{
                .el-input__inner{
                  padding: 0 8px;
                }
                width: 72%;
              }
            }
          }
        }
      }
      .contract-info{
        .el-header{
          background-color: #ffffff;
          padding: 10px 20px;
          height: auto !important;
          margin-bottom: 20px;
          .wrap{
            .itemWrap{
              width: 100%;
              float: left;
              margin-right: 10px;
              margin-top: 10px;
              margin-bottom: 10px;
              .title{
                font-size: 13px;
                color: #999999;
              }
              .info{
                color: #4A4A4A;
                font-size: 15px;
              }
              .el-button{
                height: 40px;
              }
            }
          }
          .filmName {
            max-width: 200px;
          }
        }
        .el-table td, .el-table th {
          padding: 2px 0 !important;
        }
        .cell{
          text-align: center;
          padding-right: 0;
          padding-left: 0;
        }
        .el-form{
          .el-form-item__label{
            color: #999999;
          }
          .el-form-item__content{
            .el-table{
              .el-table__body-wrapper{
                .el-table__body{
                  .el-table__row{
                    &:hover{

                    }
                    .cell{
                      padding: 3px;
                      &>.el-input{
                        .el-input__inner{
                          padding: 0 8px;
                        }
                        width: 72%;
                      }
                    }
                  }
                }
              }
              .el-select{
                .el-input__inner{
                  border: none;
                  text-align: center;
                }
                .el-input__suffix .el-input__suffix-inner{
                  .el-icon-arrow-up:before {
                    content: "\e78f";
                  }
                }
              }
            }
          }
        }
        .theatreRatio{
          .el-table td, .el-table th{
            padding: 1px 0 !important;
          }
          .el-table{
            .el-input__inner{
              text-align: center;
            }
          }
        }
        .el-form{
          padding: 20px;
          background-color: #fff;
          margin-bottom: 80px;
          &>h2{
            font-size: 16px;
            margin-top: 0;
            width: 100%;
            color: #1f2f3d;
            font-weight: 600;
            margin-bottom: 20px;
          }
          .el-dialog__wrapper{
            .checkboxWrap{
              .el-checkbox{
                white-space: normal;
                .el-checkbox__label{
                  font-size: 16px;
                }
              }
              .el-checkbox-group{
                .el-checkbox{
                  display: block;
                  margin-bottom: 10px;
                  .el-checkbox__label{
                    //font-size: 16px;
                  }
                }
              }
            }
          }
          .el-form-item{
            margin-bottom: 20px;
            &.btnWrap{
              .el-form-item__content{
                width: auto;
                .el-button{
                  width: 140px;
                  margin-bottom: 20px;
                }
              }
            }
            &.seatSelect{
              .el-form-item__content{
                .el-select{
                  width: 49%;
                  float: left;
                  &:nth-of-type(1){
                    margin-right: 1%;
                  }
                }
              }
            }
            &.formTableWrap{
              .new{
                float: right;
                margin-bottom: 10px;
              }
              .ruleWrap{
                .el-select{
                  .el-input.is-disabled {
                    .el-input__suffix{
                      display: none;
                    }
                    .el-input__inner {
                      cursor: default;
                      background-color: #fff;
                      color: #606266;
                    }
                  }
                }
              }
              .info{
                color: #999999;
                font-size: 14px;
              }
              .ruleTitle{
                font-size: 14px;
                color: #4A4A4A;
                font-weight: 600;
              }
              .ruleOption{
                margin-bottom: 10px;
                .fl{
                  float: left;
                }
                .el-date-editor,.el-input{
                  float: left;
                  width: 240px;
                }
                &>.click{
                  margin-left: 10px;
                }
                .ml10{
                  margin-left: 10px;
                }
              }
              .el-table thead {
                //color: #909399;
              }
              .netTotalRatio{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                line-height: 30px;
                display: inline-block;
                &.error{
                  background-color: #f56c6c;
                }
              }
              .sim-title{
                font-size: 14px;
                font-weight: 600;
                color: #909399;
              }
              .inputCenter{
                .el-input__inner{
                  background-color: #E4E7ED    /* margin-left: 0 !important; */;
                  text-align: center;
                }
              }
              &>.el-form-item__content .opRule{
                width: auto;
                float: right;
                margin-left: 10px;
              }
              .el-form-item__label{
                float: left;
                display: inline-block;
              }
              .el-form-item__content{
                margin-left: 0 !important;
                width: 78%;
                float: left;
              }
            }
            &.uploadWrap{
              .el-form-item__content{
                width: auto;
              }
            }
            .el-form-item__content{
              width: 240px;
              .el-select{
                width: 100%;
              }
              .el-date-editor{
                width: 100%;
              }
            }
          }
        }
      }
    }
    &.browser{
      .JSONWrap,.consensus{
        position: relative;
        z-index: 2;
        width: 100%;
        padding: 20px;
        background-color: #fff;
        h2{
          font-size: 16px;
          margin-top: 0;
          width: 100%;
          color: #1f2f3d;
          font-weight: 600;
          padding-bottom: 10px;
          margin-bottom: 10px;
        }
        .JSONText{
          padding: 10px 0;
          width: 100%;
          max-height: 400px;
          overflow-y: auto;
          background-color: rgba(242, 242, 242, 1);
        }
      }
      .consensus{
        .el-header{
          display: none;
        }
        .el-main{
          padding: 0;
          box-shadow: none;
          h2{
            display: none;
          }
        }
      }
    }
  }
}
.load_cover {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .8);
  transition: all 300ms;
  z-index: 99999;
  position: fixed;
  left: 0;
  top: 0;
}
.el-table--enable-row-hover .el-table__body tr:hover>td {
  background-color: #ffffff !important;
}

ul,ol{
  margin: 0;
  padding: 0;
  list-style: none;
}
.lt{
  float: left;
}
.rt{
  float: right;
}
body,p,h1,h2,h3,h4,h5,h6,dl,dd{
  margin: 0;
}
.h2{
  color: #1f2f3d;
  font-size: 18px;
  font-weight: 600;
}
.infoText{
  color: #999999;
  font-size: 13px;
}
.click{
  color: #409EFF;
  cursor: pointer;
}
.pointer{
  cursor: pointer;
}
