body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
}
.app-main .fLFD-container {
  padding: 20px;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.app-main .fLFD-container .table_tem > .el-header {
  background-color: #fff;
  padding: 10px 20px;
  height: auto !important;
}
.app-main .fLFD-container .table_tem > .el-header .wrap .itemWrap {
  float: left;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.app-main .fLFD-container .table_tem > .el-header .wrap .itemWrap .title {
  font-size: 13px;
  color: #999999;
}
.app-main .fLFD-container .table_tem > .el-header .wrap .itemWrap .el-button {
  height: 40px;
}
.app-main .fLFD-container .table_tem > .el-header .searchFilmName {
  max-width: 200px;
  width: auto !important;
}
.app-main .fLFD-container .table_tem > .el-main {
  margin-top: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}
.app-main .fLFD-container .table_tem > .el-main .el-table .cell {
  text-align: center;
}
.app-main .fLFD-container .table_tem > .el-main > .el-form .el-form-item .el-form-item__label {
  text-align: center;
}
.app-main .fLFD-container .table_tem > .el-main > .el-form .el-form-item .el-checkbox__label {
  color: #a6a6a6;
}
.app-main .fLFD-container .table_tem > .el-main > h2 {
  font-size: 16px;
  margin-top: 0;
  width: 100%;
  color: #1f2f3d;
  font-weight: 600;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #EBEEF5;
}
.app-main .fLFD-container .table_tem > .el-footer {
  background-color: #fff;
}
.app-main .fLFD-container .table_tem > .el-footer .pagingText {
  float: left;
  margin-left: 20px;
  color: #999999;
  font-size: 13px;
}
.app-main .fLFD-container .table_tem > .el-footer .el-pagination {
  float: right;
}
.app-main .fLFD-container.box-office-film .box-office-details {
  width: 100%;
  height: 100%;
}
.app-main .fLFD-container.box-office-film .box-office-details .el-tabs {
  width: 100%;
}
.app-main .fLFD-container.box-office-film .box-office-details .el-tabs .el-tabs__header {
  padding: 20px 20px 1px 20px;
  background-color: #fff;
}
.app-main .fLFD-container.box-office-film .box-office-details .el-tabs .el-tabs__header .el-tabs__nav-wrap::after {
  height: 0;
}
.app-main .fLFD-container.box-office-film .box-office-details .el-tabs .el-tabs__header .el-tabs__nav-wrap .el-tabs__nav-scroll .el-tabs__active-bar {
  height: 3px;
}
.app-main .fLFD-container.box-office-film .box-office-details .el-tabs .el-tabs__header .el-tabs__nav-wrap .el-tabs__nav-scroll .el-tabs__item {
  font-size: 15px;
}
.app-main .fLFD-container.ticketDetails {
  width: 86%;
  margin: 0 auto;
  padding: 0;
  height: auto;
}
.app-main .fLFD-container.ticketDetails .headDetails {
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  padding: 20px;
  background-color: #fff;
  font-size: 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.app-main .fLFD-container.ticketDetails .headDetails .textWrap {
  padding-right: 50px;
  border-right: 2px solid #eaeaea;
}
.app-main .fLFD-container.ticketDetails .headDetails .textWrap > li {
  text-align: left;
  margin-bottom: 20px;
}
.app-main .fLFD-container.ticketDetails .headDetails .textWrap > li:nth-last-of-type(1) {
  margin-bottom: 0;
}
.app-main .fLFD-container.ticketDetails .headDetails .textWrap > li .title {
  color: #999999;
}
.app-main .fLFD-container.ticketDetails .headDetails .textWrap > li .info {
  color: #333333;
}
.app-main .fLFD-container.ticketDetails .headDetails .chartWrap .pieWrap {
  position: relative;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-main .fLFD-container.ticketDetails .headDetails .chartWrap .pieWrap .centerText {
  z-index: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app-main .fLFD-container.ticketDetails .headDetails .chartWrap .pieWrap .centerText p {
  color: #666666;
  font-size: 16px;
  display: block;
}
.app-main .fLFD-container.ticketDetails .headDetails .chartWrap .pieWrap .centerText p:nth-of-type(1) {
  color: #999999;
  font-size: 13px;
  margin-bottom: 5px;
}
.app-main .fLFD-container.ticketDetails > .el-tabs .el-tabs__header {
  padding: 15px 20px 5px 20px;
  background-color: #fff;
}
.app-main .fLFD-container.ticketDetails > .el-tabs .el-tabs__header .el-tabs__nav-wrap::after {
  height: 0;
}
.app-main .fLFD-container.ticketDetails > .el-tabs .el-tabs__header .el-tabs__nav-wrap .el-tabs__nav-scroll .el-tabs__active-bar {
  height: 3px;
}
.app-main .fLFD-container.ticketDetails > .el-tabs .el-tabs__header .el-tabs__nav-wrap .el-tabs__nav-scroll .el-tabs__item {
  font-size: 15px;
}
.app-main .fLFD-container.ticketDetails > .el-tabs .el-tabs__content .el-main {
  margin-top: 0;
}
.app-main .fLFD-container.ticketDetails > .el-tabs .el-tabs__content .el-icon-link {
  font-size: 20px;
}
.app-main .fLFD-container.ticketDetails > .el-tabs .el-tabs__content .monitorTicket {
  padding: 20px;
  background-color: #fff;
}
.app-main .fLFD-container.ticketDetails > .el-tabs .el-tabs__content .monitorTicket .table_tem {
  width: 50%;
  float: left;
}
.app-main .fLFD-container.ticketDetails > .el-tabs .el-tabs__content .monitorTicket .table_tem .el-main > h2 {
  display: none;
}
.app-main .fLFD-container.ticketDetails > .el-tabs .el-tabs__content .monitorTicket .table_tem .el-main .el-table td,
.app-main .fLFD-container.ticketDetails > .el-tabs .el-tabs__content .monitorTicket .table_tem .el-main .el-table th {
  padding: 2px 0;
}
.app-main .fLFD-container.ticketDetails > .el-tabs .el-tabs__content .monitorTicket .table_tem .el-footer {
  margin-top: 12px;
}
.app-main .fLFD-container.ticketDetails > .el-tabs .el-tabs__content .monitorTicket .monitorImg {
  float: right;
  width: 45%;
}
.app-main .fLFD-container.film-contract .film-contract-Details {
  width: 100%;
}
.app-main .fLFD-container.film-contract .film-contract-Details .detailsWrap .el-alert {
  padding: 20px;
}
.app-main .fLFD-container.film-contract .film-contract-Details .detailsWrap .el-alert .el-alert__title {
  font-size: 15px;
}
.app-main .fLFD-container.film-contract .film-contract-Details .detailsWrap .el-alert .el-alert__description {
  font-size: 14px;
}
.app-main .fLFD-container.film-contract .film-contract-Details .detailsWrap .filmInfo {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.app-main .fLFD-container.film-contract .film-contract-Details .detailsWrap .filmInfo > ul li {
  margin-bottom: 10px;
}
.app-main .fLFD-container.film-contract .film-contract-Details .detailsWrap .filmInfo > ul li > p {
  border: 1px solid #EBEEF5;
  padding: 10px;
  font-size: 15px;
  line-height: 20px;
}
.app-main .fLFD-container.film-contract .film-contract-Details .detailsWrap .filmInfo > ul li .title,
.app-main .fLFD-container.film-contract .film-contract-Details .detailsWrap .filmInfo > ul li .info {
  font-size: 16px;
}
.app-main .fLFD-container.film-contract .film-contract-Details .detailsWrap .filmInfo .filmImg {
  margin-right: 20px;
}
.app-main .fLFD-container.film-contract .film-contract-Details .detailsWrap .filmInfo .filmImg img {
  height: 200px;
}
.app-main .fLFD-container.film-contract .film-contract-Details .detailsWrap > .el-tabs {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
}
.app-main .fLFD-container.film-contract .film-contract-Details .detailsWrap > .el-tabs .el-tabs__header .el-tabs__nav-wrap::after {
  height: 0;
}
.app-main .fLFD-container.film-contract .film-contract-Details .detailsWrap > .el-tabs .el-tabs__header .el-tabs__nav-wrap .el-tabs__item {
  font-size: 15px;
  font-weight: 600;
}
.app-main .fLFD-container.film-contract .film-contract-Details .detailsWrap > .el-tabs .el-tabs__header .el-tabs__nav-wrap .el-tabs__active-bar {
  height: 3px;
}
.app-main .fLFD-container.film-contract .film-contract-Details .detailsWrap > .el-tabs .el-tabs__content .rulesWrap .el-table--enable-row-hover .el-table__body tr:hover > td {
  background-color: #ffffff !important;
}
.app-main .fLFD-container.film-contract .film-contract-Details .detailsWrap > .el-tabs .el-tabs__content .rulesWrap .el-table td,
.app-main .fLFD-container.film-contract .film-contract-Details .detailsWrap > .el-tabs .el-tabs__content .rulesWrap .el-table th {
  padding: 2px 0 !important;
}
.app-main .fLFD-container.film-contract .film-contract-Details .detailsWrap > .el-tabs .el-tabs__content .rulesWrap .cell {
  text-align: center;
  padding: 3px;
}
.app-main .fLFD-container.film-contract .film-contract-Details .detailsWrap > .el-tabs .el-tabs__content .rulesWrap .cell > .el-input {
  width: 72%;
}
.app-main .fLFD-container.film-contract .film-contract-Details .detailsWrap > .el-tabs .el-tabs__content .rulesWrap .cell > .el-input .el-input__inner {
  padding: 0 8px;
}
.app-main .fLFD-container.film-contract .film-contract-Details .detailsWrap > .el-tabs .el-tabs__content .has-gutter tr th {
  background-color: #f5f7fa;
}
.app-main .fLFD-container.film-contract .film-contract-Details .cinema-contract-details {
  width: 100%;
}
.app-main .fLFD-container.film-contract .film-contract-Details .cinema-contract-details > .el-header {
  background-color: #ffffff;
  padding: 10px 20px;
  height: auto !important;
}
.app-main .fLFD-container.film-contract .film-contract-Details .cinema-contract-details > .el-header .wrap .itemWrap {
  width: 100%;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.app-main .fLFD-container.film-contract .film-contract-Details .cinema-contract-details > .el-header .wrap .itemWrap .title {
  display: inline-block;
  min-width: 80px;
  font-size: 13px;
  color: #999999;
}
.app-main .fLFD-container.film-contract .film-contract-Details .cinema-contract-details > .el-header .wrap .itemWrap .el-button {
  height: 40px;
}
.app-main .fLFD-container.film-contract .film-contract-Details .cinema-contract-details > .el-header .filmName {
  max-width: 200px;
}
.app-main .fLFD-container.film-contract .film-contract-Details .cinema-contract-details > .el-main {
  margin-top: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}
.app-main .fLFD-container.film-contract .film-contract-Details .cinema-contract-details > .el-main > h2 {
  font-size: 16px;
  margin-top: 0;
  width: 100%;
  color: #1f2f3d;
  font-weight: 600;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #EBEEF5;
}
.app-main .fLFD-container.film-contract .film-contract-Details .cinema-contract-details > .el-main .el-table--enable-row-hover .el-table__body tr:hover > td {
  background-color: #ffffff !important;
}
.app-main .fLFD-container.film-contract .film-contract-Details .cinema-contract-details > .el-main .cell {
  text-align: center;
  padding: 3px;
}
.app-main .fLFD-container.film-contract .film-contract-Details .cinema-contract-details > .el-main .cell > .el-input {
  width: 72%;
}
.app-main .fLFD-container.film-contract .film-contract-Details .cinema-contract-details > .el-main .cell > .el-input .el-input__inner {
  padding: 0 8px;
}
.app-main .fLFD-container.film-contract .contract-info .el-header {
  background-color: #ffffff;
  padding: 10px 20px;
  height: auto !important;
  margin-bottom: 20px;
}
.app-main .fLFD-container.film-contract .contract-info .el-header .wrap .itemWrap {
  width: 100%;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.app-main .fLFD-container.film-contract .contract-info .el-header .wrap .itemWrap .title {
  font-size: 13px;
  color: #999999;
}
.app-main .fLFD-container.film-contract .contract-info .el-header .wrap .itemWrap .info {
  color: #4A4A4A;
  font-size: 15px;
}
.app-main .fLFD-container.film-contract .contract-info .el-header .wrap .itemWrap .el-button {
  height: 40px;
}
.app-main .fLFD-container.film-contract .contract-info .el-header .filmName {
  max-width: 200px;
}
.app-main .fLFD-container.film-contract .contract-info .el-table td,
.app-main .fLFD-container.film-contract .contract-info .el-table th {
  padding: 2px 0 !important;
}
.app-main .fLFD-container.film-contract .contract-info .cell {
  text-align: center;
  padding-right: 0;
  padding-left: 0;
}
.app-main .fLFD-container.film-contract .contract-info .el-form .el-form-item__label {
  color: #999999;
}
.app-main .fLFD-container.film-contract .contract-info .el-form .el-form-item__content .el-table .el-table__body-wrapper .el-table__body .el-table__row .cell {
  padding: 3px;
}
.app-main .fLFD-container.film-contract .contract-info .el-form .el-form-item__content .el-table .el-table__body-wrapper .el-table__body .el-table__row .cell > .el-input {
  width: 72%;
}
.app-main .fLFD-container.film-contract .contract-info .el-form .el-form-item__content .el-table .el-table__body-wrapper .el-table__body .el-table__row .cell > .el-input .el-input__inner {
  padding: 0 8px;
}
.app-main .fLFD-container.film-contract .contract-info .el-form .el-form-item__content .el-table .el-select .el-input__inner {
  border: none;
  text-align: center;
}
.app-main .fLFD-container.film-contract .contract-info .el-form .el-form-item__content .el-table .el-select .el-input__suffix .el-input__suffix-inner .el-icon-arrow-up:before {
  content: "\e78f";
}
.app-main .fLFD-container.film-contract .contract-info .theatreRatio .el-table td,
.app-main .fLFD-container.film-contract .contract-info .theatreRatio .el-table th {
  padding: 1px 0 !important;
}
.app-main .fLFD-container.film-contract .contract-info .theatreRatio .el-table .el-input__inner {
  text-align: center;
}
.app-main .fLFD-container.film-contract .contract-info .el-form {
  padding: 20px;
  background-color: #fff;
  margin-bottom: 80px;
}
.app-main .fLFD-container.film-contract .contract-info .el-form > h2 {
  font-size: 16px;
  margin-top: 0;
  width: 100%;
  color: #1f2f3d;
  font-weight: 600;
  margin-bottom: 20px;
}
.app-main .fLFD-container.film-contract .contract-info .el-form .el-dialog__wrapper .checkboxWrap .el-checkbox {
  white-space: normal;
}
.app-main .fLFD-container.film-contract .contract-info .el-form .el-dialog__wrapper .checkboxWrap .el-checkbox .el-checkbox__label {
  font-size: 16px;
}
.app-main .fLFD-container.film-contract .contract-info .el-form .el-dialog__wrapper .checkboxWrap .el-checkbox-group .el-checkbox {
  display: block;
  margin-bottom: 10px;
}
.app-main .fLFD-container.film-contract .contract-info .el-form .el-form-item {
  margin-bottom: 20px;
}
.app-main .fLFD-container.film-contract .contract-info .el-form .el-form-item.btnWrap .el-form-item__content {
  width: auto;
}
.app-main .fLFD-container.film-contract .contract-info .el-form .el-form-item.btnWrap .el-form-item__content .el-button {
  width: 140px;
  margin-bottom: 20px;
}
.app-main .fLFD-container.film-contract .contract-info .el-form .el-form-item.seatSelect .el-form-item__content .el-select {
  width: 49%;
  float: left;
}
.app-main .fLFD-container.film-contract .contract-info .el-form .el-form-item.seatSelect .el-form-item__content .el-select:nth-of-type(1) {
  margin-right: 1%;
}
.app-main .fLFD-container.film-contract .contract-info .el-form .el-form-item.formTableWrap .new {
  float: right;
  margin-bottom: 10px;
}
.app-main .fLFD-container.film-contract .contract-info .el-form .el-form-item.formTableWrap .ruleWrap .el-select .el-input.is-disabled .el-input__suffix {
  display: none;
}
.app-main .fLFD-container.film-contract .contract-info .el-form .el-form-item.formTableWrap .ruleWrap .el-select .el-input.is-disabled .el-input__inner {
  cursor: default;
  background-color: #fff;
  color: #606266;
}
.app-main .fLFD-container.film-contract .contract-info .el-form .el-form-item.formTableWrap .info {
  color: #999999;
  font-size: 14px;
}
.app-main .fLFD-container.film-contract .contract-info .el-form .el-form-item.formTableWrap .ruleTitle {
  font-size: 14px;
  color: #4A4A4A;
  font-weight: 600;
}
.app-main .fLFD-container.film-contract .contract-info .el-form .el-form-item.formTableWrap .ruleOption {
  margin-bottom: 10px;
}
.app-main .fLFD-container.film-contract .contract-info .el-form .el-form-item.formTableWrap .ruleOption .fl {
  float: left;
}
.app-main .fLFD-container.film-contract .contract-info .el-form .el-form-item.formTableWrap .ruleOption .el-date-editor,
.app-main .fLFD-container.film-contract .contract-info .el-form .el-form-item.formTableWrap .ruleOption .el-input {
  float: left;
  width: 240px;
}
.app-main .fLFD-container.film-contract .contract-info .el-form .el-form-item.formTableWrap .ruleOption > .click {
  margin-left: 10px;
}
.app-main .fLFD-container.film-contract .contract-info .el-form .el-form-item.formTableWrap .ruleOption .ml10 {
  margin-left: 10px;
}
.app-main .fLFD-container.film-contract .contract-info .el-form .el-form-item.formTableWrap .netTotalRatio {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 30px;
  display: inline-block;
}
.app-main .fLFD-container.film-contract .contract-info .el-form .el-form-item.formTableWrap .netTotalRatio.error {
  background-color: #f56c6c;
}
.app-main .fLFD-container.film-contract .contract-info .el-form .el-form-item.formTableWrap .sim-title {
  font-size: 14px;
  font-weight: 600;
  color: #909399;
}
.app-main .fLFD-container.film-contract .contract-info .el-form .el-form-item.formTableWrap .inputCenter .el-input__inner {
  background-color: #e4e7ed /* margin-left: 0 !important; */;
  text-align: center;
}
.app-main .fLFD-container.film-contract .contract-info .el-form .el-form-item.formTableWrap > .el-form-item__content .opRule {
  width: auto;
  float: right;
  margin-left: 10px;
}
.app-main .fLFD-container.film-contract .contract-info .el-form .el-form-item.formTableWrap .el-form-item__label {
  float: left;
  display: inline-block;
}
.app-main .fLFD-container.film-contract .contract-info .el-form .el-form-item.formTableWrap .el-form-item__content {
  margin-left: 0 !important;
  width: 78%;
  float: left;
}
.app-main .fLFD-container.film-contract .contract-info .el-form .el-form-item.uploadWrap .el-form-item__content {
  width: auto;
}
.app-main .fLFD-container.film-contract .contract-info .el-form .el-form-item .el-form-item__content {
  width: 240px;
}
.app-main .fLFD-container.film-contract .contract-info .el-form .el-form-item .el-form-item__content .el-select {
  width: 100%;
}
.app-main .fLFD-container.film-contract .contract-info .el-form .el-form-item .el-form-item__content .el-date-editor {
  width: 100%;
}
.app-main .fLFD-container.browser .JSONWrap,
.app-main .fLFD-container.browser .consensus {
  position: relative;
  z-index: 2;
  width: 100%;
  padding: 20px;
  background-color: #fff;
}
.app-main .fLFD-container.browser .JSONWrap h2,
.app-main .fLFD-container.browser .consensus h2 {
  font-size: 16px;
  margin-top: 0;
  width: 100%;
  color: #1f2f3d;
  font-weight: 600;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.app-main .fLFD-container.browser .JSONWrap .JSONText,
.app-main .fLFD-container.browser .consensus .JSONText {
  padding: 10px 0;
  width: 100%;
  max-height: 400px;
  overflow-y: auto;
  background-color: #f2f2f2;
}
.app-main .fLFD-container.browser .consensus .el-header {
  display: none;
}
.app-main .fLFD-container.browser .consensus .el-main {
  padding: 0;
  box-shadow: none;
}
.app-main .fLFD-container.browser .consensus .el-main h2 {
  display: none;
}
.load_cover {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  transition: all 300ms;
  z-index: 99999;
  position: fixed;
  left: 0;
  top: 0;
}
.el-table--enable-row-hover .el-table__body tr:hover > td {
  background-color: #ffffff !important;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
.lt {
  float: left;
}
.rt {
  float: right;
}
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dd {
  margin: 0;
}
.h2 {
  color: #1f2f3d;
  font-size: 18px;
  font-weight: 600;
}
.infoText {
  color: #999999;
  font-size: 13px;
}
.click {
  color: #409EFF;
  cursor: pointer;
}
.pointer {
  cursor: pointer;
}
