// sidebar
$menuText:#a8a8a8;
$menuActiveText:#409EFF;
$subMenuActiveText:#666666; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#ffffff;
$menuHover:#ecf5ff;

$subMenuBg:#ffffff;
$subMenuHover:#ecf5ff;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
