<template>
  <div class="box-office-details">
    <el-container class="content">
      <el-tabs v-model="activeName" @tab-click="handleClick">
        <el-tab-pane label="日票房" name="day">
          <div v-if="activeName==='day'" class="paneWrap">
            <day />
          </div>
        </el-tab-pane>
        <el-tab-pane label="影院票房" name="cinema">
          <div v-if="activeName==='cinema'" class="paneWrap">
            <cinema />
          </div>
        </el-tab-pane>
        <el-tab-pane label="城市票房" name="city">
          <div v-if="activeName==='city'" class="paneWrap">
            <city />
          </div>
        </el-tab-pane>
      </el-tabs>
    </el-container>
  </div>
</template>

<script>
import cinema from './components/cinema'
import city from './components/city'
import day from './components/day'
export default {
  name: 'BoxOfficeSort',
  components: {
    cinema,
    city,
    day
  },
  data() {
    return {
      activeName: 'cinema'
    }
  },
  methods: {
    handleClick(tab) {
    }
  }
}
</script>

<style scoped>

</style>
