<template>
  <div class="cinema-contract-details">
    <el-header>
      <div class="wrap clearFix">
        <div class="itemWrap">
          <span class="title">电影名称：</span>
          <el-input
            v-model="filmName"
            class="filmName"
            disabled
          />
        </div>
        <div class="itemWrap">
          <span class="title">合约ID：</span>
          <el-input
            v-model="contractId"
            class="filmName"
            disabled
          />
        </div>
      </div>
    </el-header>
    <el-main>
      <h2>详细数据</h2>
      <el-table
        class="contractDetails"
        :data="contract"
        border
        style="width: 100%"
        empty-text="暂无规则">
        <el-table-column
          label="序号"
          type="index"
          width="60">
        </el-table-column>
        <el-table-column
          prop="cinemaLineId"
          label="院线方"
          min-width="80">
        </el-table-column>
        <el-table-column
          label="院线方比例"
          width="100">
          <template slot-scope="scope">
            <span>{{ scope.row.cinemaLineRatio }}%</span>
          </template>
        </el-table-column>
        <el-table-column
          prop="cinemaNumber"
          label="影院数量"
          width="90">
        </el-table-column>
        <el-table-column
          prop="cinemas"
          label="影院方"
          min-width="120">
          <template slot-scope="scope">
            <span style="text-align: left;display: inline-block">{{ scope.row.cinemas }}</span>
          </template>
        </el-table-column>
        <el-table-column
          prop="address"
          label="影院方比例"
          width="100">
          <template slot-scope="scope">
            <span>{{ scope.row.cinemaRatio }}%</span>
          </template>
        </el-table-column>
      </el-table>
    </el-main>
  </div>
</template>

<script>
export default {
  name: 'CinemaContractDetails',
  data() {
    return {
      contract: [{
        cinemaLineId: '123',
        cinemaLineRatio: '7.00',
        cinemaNumber: 20,
        cinemas: '院线1AA影院1店、院线1AA影院2店、院线1AA影院3店、、院线1AA影院4店',
        cinemaRatio: '50.7%'
      }],
      filmName: '电影名称',
      contractId: '5AC234BD63FC67HSJQ'
    }
  },
}
</script>

<style scoped>

</style>
