<template>
  <div class="monitorTicket clearFix">
    <tableForm
      :basic-data="basicData"
      :column-data="columnData"
      :table-data="tableData"
      @handleCurrentChange="handleCurrentChange"
      @searchBtn="changeTimeData()"
      @viewImage="viewImage"
    />
    <img class="monitorImg" :src="imgUrl" alt="">
  </div>
</template>

<script>
import tableForm from '../../../../components/table-form/index'
import { mapGetters } from 'vuex'
import getData from '../../../../api/getData'
export default {
  name: 'MonitorTicket',
  components: {
    tableForm
  },
  data() {
    return {
      imgUrl: '',
      basicData: {
        // 是否不显示表格上方操作栏
        notShowOP: true,
        // 是否显示父级的路由内容
        parentShow: false,
        // 数据总条数
        totalNumber: 0,
        // 总页数
        pageCount: 0,
        // 当前页码
        currentPage: 1,
        // 多选框默认选中的类名
        checkboxDName: ''
      },
      // 表格数据
      columnData: [{
        title: 'boxdate',
        name: '时间采集点',
        width: '180',
        show: true
      }, {
        title: 'filmName',
        name: '识别人数',
        width: '120',
        show: true
      }, {
        title: 'viewImage',
        name: '图像',
        width: '120',
        show: true
      }],
      // 页面表格数据
      tableData: [],
      activeName: 'sellTicket',
      selectFilmData: null
    }
  },
  computed: {
    ...mapGetters([
      'monitorTicketInfo',
      'selectFilm',
      'defaultRow'
    ])
  },
  created() {
    this.init()
  },
  methods: {
    // 初始化
    init() {
      console.log(this.monitorTicketInfo)
      this.selectFilmData = JSON.parse(this.selectFilm)
      this.basicData.parentShow = true
      const selectStartTime = new Date()
      const selectEndTime = new Date()
      // 默认查询选中影片'30'日的票房统计数据
      selectStartTime.setTime(selectStartTime.getTime() - 3600 * 1000 * 24 * 30)
      selectEndTime.setTime(selectEndTime.getTime())
      const requestData = {
        startDate: `${selectStartTime.getFullYear()}${(selectStartTime.getMonth() + 1)}${(Array(2).join('0') + selectStartTime.getDate()).slice(-2)}`,
        endDate: `${selectEndTime.getFullYear()}${(selectEndTime.getMonth() + 1)}${(Array(2).join('0') + selectEndTime.getDate()).slice(-2)}`,
        offset: 0
      }
      this.getFilmDailyData(requestData)
    },
    // 获取数据
    getFilmDailyData(nData) {
      const requestData = {
        filmId: this.selectFilmData.filmid,
        startDate: nData.startDate,
        sortName: 'tickets',
        sortType: 0,
        endDate: nData.endDate,
        offSet: nData.offset,
        row: this.defaultRow
      }
      getData.getBOFilmByDate(requestData).then((data) => {
        if (data.status === 200) {
          this.basicData.currentPage = Number(requestData.offSet) / this.defaultRow + 1
          this.basicData.totalNumber = data.data.total
          this.basicData.pageCount = Math.ceil(data.data.total / this.defaultRow)
          this.tableData = []
          for (const i in data.data.content) {
            if (data.data.content.hasOwnProperty(i)) {
              this.tableData.push(data.data.content[i])
            }
          }
        }
      }).catch(err => {
        console.log(err)
      })
    },
    // 查看图片
    viewImage(row) {
      this.imgUrl = 'https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg'
    },
    // 点击分页页码
    handleCurrentChange(val) {
      this.basicData.currentPage = val
      const selectStartTime = new Date(this.basicData.searchFilmTime[0])
      const selectEndTime = new Date(this.basicData.searchFilmTime[1])
      const requestData = {
        startDate: `${selectStartTime.getFullYear()}${(selectStartTime.getMonth() + 1)}${(Array(2).join('0') + selectStartTime.getDate()).slice(-2)}`,
        endDate: `${selectEndTime.getFullYear()}${(selectEndTime.getMonth() + 1)}${(Array(2).join('0') + selectEndTime.getDate()).slice(-2)}`,
        offset: (val - 1) * this.defaultRow
      }
      this.getFilmDailyData(requestData)
    },
    // 点击搜索按钮
    changeTimeData() {
      if (this.basicData.searchFilmTime === '') {
        return
      }
      const selectStartTime = new Date(this.basicData.searchFilmTime[0])
      const selectEndTime = new Date(this.basicData.searchFilmTime[1])
      console.log(selectStartTime)
      const requestData = {
        startDate: `${selectStartTime.getFullYear()}${(selectStartTime.getMonth() + 1)}${(Array(2).join(0) + selectStartTime.getDate()).slice(-2)}`,
        endDate: `${selectEndTime.getFullYear()}${(selectEndTime.getMonth() + 1)}${(Array(2).join(0) + selectEndTime.getDate()).slice(-2)}`,
        offset: 0
      }
      this.getFilmDailyData(requestData)
    }
  }
}
</script>

<style scoped>

</style>
