<template>
  <div class="paneContent fLFD-container browser">
    <tableForm
      :basic-data="basicData"
      :column-data="columnData"
      :table-data="tableData"
      @handleCurrentChange="handleCurrentChange"
      @searchBtn="changeTimeData()"
      @format="format"
    />
    <router-view />
    <div class="JSONWrap">
      <h2>详细内容</h2>
      <p class="JSONText" v-html="JSONText"></p>
    </div>
    <div class="consensus">
      <h2>共识信息</h2>
      <tableForm
        :basic-data="cBasicData"
        :column-data="consensusData"
        :table-data="cTableData"
      />
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import tableForm from '../../components/table-form/index'
export default {
  name: 'Browser',
  components: {
    tableForm
  },
  data() {
    return {
      JSONText: null,
      cBasicData: {
        // 是否显示父级的路由内容
        parentShow: true,
        isMerge: '1'
      },
      basicData: {
        isMerge: '1',
        mainTitle: '交易详情',
        chainRelevantId: '',
        // 是否显示父级的路由内容
        parentShow: true,
        // 数据总条数
        totalNumber: 0,
        // 总页数
        pageCount: 0,
        // 当前页码
        currentPage: 1,
        // 多选框默认选中的类名
        checkboxDName: ''
      },
      // 共识信息表格数据
      consensusData: [{
        title: 'nodeName',
        name: '节点',
        width: '180',
        show: true
      }, {
        title: 'date',
        name: '时间',
        width: '180',
        show: true
      }, {
        title: 'state',
        name: '状态',
        width: '180',
        show: true
      }],
      // 表格数据
      columnData: [{
        title: 'name',
        name: '所在区块',
        width: '180',
        show: true
      }, {
        title: 'boxdate',
        name: '交易序号',
        width: '180',
        show: true
      }, {
        title: 'cinema',
        name: '票编码',
        width: '180',
        show: true
      }, {
        title: 'hall',
        name: '影院编码',
        width: '180',
        show: true
      }, {
        title: 'tickets',
        name: '影厅编码',
        width: '180',
        show: true
      }, {
        title: 'refundtickets',
        name: '座位编码',
        width: '100',
        show: false
      }, {
        title: 'default1',
        name: '影片编码',
        width: '180',
        show: true
      }, {
        title: 'default2',
        name: '交易时间',
        width: '180',
        show: true
      }],
      cTableData: [],
      // 页面表格数据
      tableData: [],
      selectFilmData: null
    }
  },
  computed: {
    ...mapGetters([
      'selectFilm',
      'defaultRow',
      'selectCinema'
    ])
  },
  mounted() {
    this.init()
  },
  methods: {
    formatJson(msg) {
      const rep = '~'
      let jsonStr = JSON.stringify(msg, null, rep)
      let str = ''
      for (let i = 0; i < jsonStr.length; i++) {
        const text2 = jsonStr.charAt(i)
        if (i > 1) {
          const text = jsonStr.charAt(i - 1)
          if (rep !== text && rep === text2) {
            str += '<br/>'
          }
        }
        str += text2
      }
      jsonStr = ''
      for (let i = 0; i < str.length; i++) {
        const text = str.charAt(i)
        if (rep === text) { jsonStr += '&nbsp;&nbsp;&nbsp;&nbsp;' } else {
          jsonStr += text
        }
        if (i === str.length - 2) { jsonStr += '<br/>' }
      }
      return jsonStr
    },
    // 初始化
    init() {
      const jsonStr = { 'pay_info': '', 'good_id': 56, 'good_type': 1, 'pay_source': 2 } // json字符串
      // 格式化json字符串
      console.log(this.$refs)
      this.JSONText = this.formatJson(jsonStr)
      const requestData = {
      }
      this.getFilmDailyData(requestData)
    },
    // 格式化页面
    format() {
      this.basicData.totalNumber = 0
      this.basicData.pageCount = 0
      this.tableData = []
    },
    // 获取数据
    getFilmDailyData(nData) {
      // const requestData = {
      // }
      // getData.getBOFilmByDate(requestData).then((data) => {
      //   if (data.status === 200) {
      //   }
      // }).catch(err => {
      //   console.log(err)
      // })
    },
    // 点击分页页码
    handleCurrentChange(val) {
      const requestData = {
      }
      this.getFilmDailyData(requestData)
    },
    // 点击搜索按钮
    changeTimeData() {
      if (this.basicData.chainRelevantId === '') {
        return
      }
      const requestData = {
      }
      this.getFilmDailyData(requestData)
    }
  }
}
</script>

<style scoped>

</style>
