<template>
  <div class="contract-info el-tabs-content">
    <el-header v-if="this.$route.name === 'contract-info'">
      <div class="wrap clearFix">
        <div class="itemWrap">
          <span class="title">电影名称：</span>
          <span class="info">{{ selectInfo.name }}</span>
        </div>
        <div class="itemWrap">
          <span class="title">电影编码：</span>
          <span class="info">{{ selectInfo.filmid }}</span>
        </div>
      </div>
    </el-header>
    <el-form v-if="this.$route.name === 'contract-info'" ref="form" :model="form" label-width="120px">
      <h2>详细数据</h2>
      <el-form-item label="最低票价信息 :" class="formTableWrap">
        <el-table
          :data="form.minPriceData"
          border
          style="width: 100%"
        >
          <el-table-column
            prop="cityType"
            label="城市分类"
            min-width="120"
          >
            <template slot-scope="scope">
              <span class="sim-title">{{ scope.row.cityType }}</span>
            </template>
          </el-table-column>
          <el-table-column
            prop="one"
            label="A类"
            min-width="100"
          >
            <template slot-scope="scope">
              <span>{{ scope.row.three }}元</span>
            </template>
          </el-table-column>
          <el-table-column
            prop="two"
            label="B类"
            min-width="100"
          >
            <template slot-scope="scope">
              <span>{{ scope.row.four }}元</span>
            </template>
          </el-table-column>
        </el-table>
      </el-form-item>
      <el-form-item label="总票房分账信息 : " class="formTableWrap">
        <span class="info">条件：Σ净=Σ总-Σ专-Σ税</span>
        <el-table
          :data="form.totalAmountData"
          border
          style="width: 100%;"
        >
          <el-table-column
            prop="totalAmount"
            label="总票房"
            min-width="120"
          />
          <el-table-column
            prop="special"
            label="电影专项资金办"
            min-width="100"
          >
            <template slot-scope="scope">
              <span>{{ scope.row.special }}%</span>
            </template>
          </el-table-column>
          <el-table-column
            prop="taxation"
            label="税"
            min-width="100"
          >
            <template slot-scope="scope">
              <span>{{ scope.row.special }}%</span>
            </template>
          </el-table-column>
          <el-table-column
            prop="netAmount"
            label="净票房"
            min-width="100"
          >
            <span>{{ getNetAmount() }} %</span>
          </el-table-column>
        </el-table>
      </el-form-item>
      <el-form-item label="净票房分账信息 :" class="formTableWrap">
        <div class="ruleHeader clearFix">
          <span class="info">条件：Σ比例=100%</span>
        </div>
        <div v-for="(ruleItem, index) in form.netRuleData" :key="index" class="ruleWrap">
          <div class="ruleTitle">规则{{ index + 1 }}</div>
          <div class="ruleOption clearFix">
            <span class="fl info">有效期：</span>
            <el-date-picker
              v-if="!ruleItem.infinite && ruleItem.isChange"
              v-model="ruleItem.validityData"
              type="daterange"
              range-separator=""
              start-placeholder="开始日期"
              end-placeholder="结束日期"
            />
            <span v-if="ruleItem.infinite && ruleItem.isChange">全周期</span>
            <span v-if="ruleItem.isOld && !ruleItem.isChange">{{ ruleItem.cycle }}</span>
          </div>
          <el-table
            :data="ruleItem.netAmountData"
            border
            style="width: 100%;"
          >
            <el-table-column
              prop="type"
              label="类型"
              min-width="120"
            >
              <template slot-scope="scope">
                <el-select v-if="scope.row.role!=='合计' && (scope.$index < (ruleItem.dataLength - 1))" v-model="scope.row.type" disabled placeholder="" value="">
                  <el-option
                    v-for="item in form.roleTypeListFY"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"
                  />
                </el-select>
                <el-select v-if="scope.row.role!=='合计' && (scope.row.type === 9 || scope.row.type === 1) && scope.$index > (ruleItem.dataLength - 2)" v-model="scope.row.type" placeholder="" value="" @change="changeSelectType(scope.row.type, scope.$index, index)">
                  <el-option
                    v-for="item in form.roleTypeList"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"
                  />
                </el-select>
              </template>
            </el-table-column>
            <el-table-column
              prop="role"
              label="项目方"
              min-width="100"
            >
              <template slot-scope="scope">
                <span v-if="scope.row.role==='合计'">合计</span>
                <span v-if="scope.row.type===3">——</span>
                <el-select v-if="scope.row.role!=='合计' && scope.row.type===1" v-model="scope.row.role" :disabled="!ruleItem.isChange" placeholder="" value="">
                  <el-option
                    v-for="item in form.producerList"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"
                  />
                </el-select>
                <el-select v-if="scope.row.role!=='合计' && scope.row.type===2" v-model="scope.row.role" :disabled="!ruleItem.isChange" placeholder="" value="">
                  <el-option
                    v-for="item in form.issuerIdList"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"
                  />
                </el-select>
                <el-select v-if="scope.row.role!=='合计' && scope.row.type===9" v-model="scope.row.role" :disabled="!ruleItem.isChange" placeholder="" value="">
                  <el-option
                    v-for="item in form.otherRoleList"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"
                  />
                </el-select>
              </template>
            </el-table-column>
            <el-table-column
              prop="ratio"
              label="比例"
              min-width="100"
            >
              <template slot-scope="scope">
                <span v-if="scope.row.role==='合计'" class="netTotalRatio" :class="{error: getTotalRatio(index) !== '100.00'}">{{ getTotalRatio(index) }}%</span>
                <span v-if="scope.row.role!=='合计'">{{ scope.row.ratio }}%</span>
              </template>
            </el-table-column>
            <el-table-column
              prop="option"
              label="操作"
              min-width="100"
            >
              <template slot-scope="scope">
                <span v-if="ruleItem.isOld && scope.row.option==='查看院线与发行方关系'" class="click" @click="toDetails(scope.row, scope.$index, index)">{{ scope.row.option }}</span>
              </template>
            </el-table-column>
          </el-table>
        </div>
      </el-form-item>
      <el-form-item class="btnWrap" />
    </el-form>
    <router-view />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import getData from '../../../../api/getData'
import tool from '../../../../utils/tool'

export default {
  name: 'Contract',
  data() {
    return {
      form: {
        // 电影名称
        filmName: '默认电影',
        // 制片方个数
        producerLength: 2,
        // 影片编码051102312019
        filmId: '',
        // 放映许可
        permit: '',
        // 项目方类型列表带发行院线
        roleTypeListFY: [{
          name: '制片方',
          id: 1
        }, {
          name: '发行方',
          id: 2
        }, {
          name: '院线（含影院）',
          id: 3
        }, {
          name: '其他',
          id: 9
        }],
        // 项目方类型
        roleTypeList: [{
          name: '制片方',
          id: 1
        }, {
          name: '其他',
          id: 9
        }],
        // 其他项目方列表
        otherRoleList: [{
          name: 'Q1有限公司',
          id: '9001'
        }, {
          name: 'Q2有限公司',
          id: '9002'
        }, {
          name: 'Q3有限公司',
          id: '9003'
        }, {
          name: 'Q4有限公司',
          id: '9004'
        }, {
          name: 'Q5有限公司',
          id: '9005'
        }],
        // 制片方列表
        producerList: [{
          name: 'Z1有限公司',
          id: '1001'
        }, {
          name: 'Z2有限公司',
          id: '1002'
        }, {
          name: 'Z3有限公司',
          id: '1003'
        }],
        // 发行方列表
        issuerIdList: [{
          name: 'F1有限公司',
          id: '2001'
        }, {
          name: 'F2有限公司',
          id: '2002'
        }, {
          name: 'F3有限公司',
          id: '2003'
        }],
        // 院线列表
        cinemaLineList: [{
          name: 'Y1院线',
          id: '3001'
        }, {
          name: 'Y2院线',
          id: '3002'
        }],
        // 最低票价数据
        minPriceData: [{
          cityType: '最低票价（元）',
          one: 50,
          two: 40,
          three: 30,
          four: 25
        }],
        // 总票房分账设置数据
        totalAmountData: [{
          totalAmount: '100%',
          specialId: '',
          special: '5.00',
          taxation: '3.30',
          taxationId: '',
          netAmount: 100
        }],
        // 净票房分账设置数据
        netRuleData: []
      },
      // 上层选中电影
      selectInfo: {
        filmid: ''
      }
    }
  },
  computed: {
    ...mapGetters([
      'contractInfo'
    ])
  },
  created() {
    this.init()
  },
  methods: {
    // 获取净票房总比例
    getTotalRatio(index) {
      const list = this.form.netRuleData[index].netAmountData
      let totalRatio = 0
      for (const i in list) {
        if (list.hasOwnProperty(i)) {
          if (list[i].role !== '合计') {
            totalRatio += Number(list[i].ratio)
          }
        }
      }
      return totalRatio.toFixed(2)
    },
    // 获取净票房比例
    getNetAmount() {
      return (100 - this.form.totalAmountData[0].special - this.form.totalAmountData[0].taxation).toFixed(2)
    },
    // 查看院线与发行方关系
    toDetails(row, cIndex, pIndex) {
      this.selectInfo.subid = pIndex + 1
      for (const i of this.form.netRuleData[pIndex].netAmountData) {
        if (i.type === 2) {
          this.selectInfo.issuerId = i.role
        }
        if (i.type === 3) {
          this.selectInfo.theatreRatio = i.ratio
        }
      }
      this.$store.dispatch('app/setContractInfo', JSON.stringify(this.selectInfo))
      this.$router.push({ name: `pubThRelation` })
    },
    // 选中电影回调
    init() {
      this.selectInfo = JSON.parse(this.contractInfo)
      console.log(this.selectInfo)
      const FormData = this.form
      const requestData = {
        filmId: this.selectInfo.filmid,
        subId: null
      }
      getData.getFilmRule(requestData)
        .then((data) => {
          FormData.netRuleData = []
          // 规则数量 去重后 push数据
          let subIdList = []
          // 每条净票房分账比例数据
          let netAData = []
          // 接口成功返回所有的数据
          const successData = data.data
          // 接口成功返回最低票价数据
          let tempMinPrice = []
          const minPrice = FormData.minPriceData[0]
          // 起止时间
          let startStopDate = []
          for (const i in successData) {
            if (successData.hasOwnProperty(i)) {
              subIdList.push(successData[i].subid)
            }
          }
          subIdList = tool.uniq(subIdList)
          for (const i of subIdList) {
            netAData = []
            for (const j in successData) {
              if (successData.hasOwnProperty(j) && successData[j].subid === i && successData[j].orgtype !== 6 && successData[j].orgtype !== 7) {
                netAData.push({
                  type: successData[j].orgtype,
                  role: successData[j].orgid,
                  ratio: tool.changePT(successData[j].clearrate),
                  option: successData[j].orgtype === 3 ? '查看院线与发行方关系' : '',
                  id: successData[j].id
                })
              }
              if (successData.hasOwnProperty(j) && successData[j].subid === i && successData[j].orgtype === 6) {
                startStopDate = [successData[j].startdate, successData[j].enddate]
                FormData.totalAmountData[0].special = tool.changePT(successData[j].clearrate)
                FormData.totalAmountData[0].specialId = successData[j].id
                tempMinPrice = JSON.parse(successData[j].minprice)
                minPrice.one = Number(tempMinPrice['1']) / 100
                minPrice.two = Number(tempMinPrice['2']) / 100
                minPrice.three = Number(tempMinPrice['3']) / 100
                minPrice.four = Number(tempMinPrice['4']) / 100
              }
              if (successData.hasOwnProperty(j) && successData[j].subid === i && successData[j].orgtype === 7) {
                FormData.totalAmountData[0].taxation = tool.changePT(successData[j].clearrate)
                FormData.totalAmountData[0].taxationId = successData[j].id
              }
            }
            netAData.push({
              type: '',
              role: '合计',
              ratio: '',
              option: ''
            })
            console.log(startStopDate)
            this.form.netRuleData.push({
              isChange: false,
              cycle: startStopDate[1] === '29990101' ? '全周期' : startStopDate[0] + ' - ' + startStopDate[1],
              dataLength: netAData.length,
              infinite: false,
              isOld: true,
              validityData: [],
              netAmountData: netAData
            })
            console.log(netAData)
          }
        }).catch(error => {
          console.log(error)
        })
    }
  }
}
</script>

<style scoped>

</style>
