<template>
  <div class="film-contract-Details">
    <div v-if="parentShow" class="detailsWrap">
      <el-alert
        title="操作说明"
        type="warning"
        description="所有操作均为不可逆，请仔细审查后操作。"
        :closable="false"
        show-icon
      />
      <div class="filmInfo">
        <div class="filmImg">
          <img src="https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg" alt="">
        </div>
        <ul>
          <li>
            <span class="title h2">最可爱的人</span>
            <span class="info infoText">001101582019</span>
          </li>
          <li>
            <span class="title infoText">合约ID：</span>
            <span class="info infoText">12345AC234BD63FC67HSJQ722019</span>
          </li>
          <li>
            <span class="title infoText">制片方</span>
            <span class="info infoText">制片方1、制片方2</span>
          </li>
          <li>
            <p class="describe infoText">电影描述电影描述电影描述电影描述电影描述电影描述电影描述电影描述电影描述电影描述电影描述电影描述电影描述电影描述电影描述电影描述电影描述电影描述电影描述电影描述电影描述电影描述电影描述电影描述电影描述电影描述电影描述电影描述电影描述电影描述电影描述电影描述电影描述</p>
          </li>
        </ul>
      </div>
      <el-tabs v-model="activeName" @tab-click="handleClick">
        <el-tab-pane label="更新日志" name="journal">
          <el-table
            :data="tableData"
            border
            style="width: 100%"
          >
            <el-table-column
              prop="date"
              label="时间"
              width="180"
            />
            <el-table-column
              prop="name"
              label="操作人"
              width="180"
            />
            <el-table-column
              prop="describe"
              label="日志描述"
            />
          </el-table>
        </el-tab-pane>
        <el-tab-pane label="分账合约" class="rulesWrap" name="rules">
          <el-table
            :data="contract"
            border
            style="width: 100%"
            :span-method="objectSpanMethod"
          >
            <el-table-column
              label="序号"
              type="index"
              width="60"
              :index="indexMethod"
            />
            <el-table-column
              prop="specialRatio"
              label="专项金"
              min-width="90">
            </el-table-column>
            <el-table-column
              prop="taxationRatio"
              label="税务局"
              min-width="90">
            </el-table-column>
            <el-table-column
              prop="subProducerId"
              label="制片方公司"
              min-width="180">
            </el-table-column>
            <el-table-column
              prop="subProducerRatio"
              label="制片方公司比例"
              min-width="90">
            </el-table-column>
            <el-table-column
              prop="producerRatioTotal"
              label="制片方比例和"
              min-width="70">
            </el-table-column>
            <el-table-column
              prop="issuerId"
              label="发行方"
              min-width="180">
            </el-table-column>
            <el-table-column
              prop="issuerRatio"
              label="发行方比例"
              min-width="90">
            </el-table-column>
            <el-table-column
              label="院线方"
              min-width="80">
              <template slot-scope="scope">
                <span class="click" @click="toDetails(scope.$index, scope.row)">5</span>
              </template>
            </el-table-column>
            <el-table-column
              prop="cinemaLineRatio"
              label="院线方比例"
              min-width="90">
            </el-table-column>
            <el-table-column
              label="影院方"
              min-width="80">
              <template slot-scope="scope">
                <span class="click" @click="toDetails(scope.$index, scope.row)">100</span>
              </template>
            </el-table-column>
            <el-table-column
              prop="cinemaRatio"
              label="影院方比例"
              min-width="90">
            </el-table-column>
          </el-table>
        </el-tab-pane>
      </el-tabs>
    </div>
    <router-view />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'FilmContractDetails',
  data() {
    return {
      parentShow: true,
      // 发行方列表
      issuerIdList: [{
        name: '发行方1',
        id: '2001'
      }, {
        name: '发行方2',
        id: '2002'
      }, {
        name: '发行方3',
        id: '2003'
      }],
      // 制片方列表
      producerList: [{
        name: '制片方1',
        id: '1001'
      }, {
        name: '制片方2',
        id: '1002'
      }, {
        name: '制片方3',
        id: '1003'
      }],
      contract: [{
        cinemaLineRatio: '6.42',
        cinemaRatio: '45.86',
        isChange: false,
        isOld: true,
        issuerId: '2001',
        issuerRatio: '11.92',
        producerRatioTotal: '23.75',
        specialRatio: '5.00',
        subProducerId: '1002',
        subProducerRatio: '13.75',
        taxationRatio: '3.30'
      }, {
        cinemaLineRatio: '6.42',
        cinemaRatio: '45.86',
        isChange: false,
        isOld: true,
        issuerId: '2001',
        issuerRatio: '11.92',
        producerRatioTotal: '25.75',
        specialRatio: '5.00',
        subProducerId: '1001',
        subProducerRatio: '12.00',
        taxationRatio: '3.30'
      }],
      activeName: 'journal',
      tableData: [{
        date: '2019-05-02',
        name: '院线1',
        describe: '添加影院111、影院112、影院113、影院114'
      }, {
        date: '2019-05-04',
        name: '发行方1',
        describe: '添加院线2、院线3'
      }, {
        date: '2019-05-01',
        name: '发行方1',
        describe: '添加院线1'
      }, {
        date: '2019-05-03',
        name: '制片1',
        describe: '添加发行方2、发行方3'
      }]
    }
  },
  computed: {
    ...mapGetters([
      'contractInfo'
    ])
  },
  created() {
    this.init()
  },
  methods: {
    init() {
      if (this.$route.name === 'cinema-contract-details') {
        this.parentShow = false
      }
    },
    toDetails(row) {
      // this.$store.dispatch('app/setContractInfo', JSON.stringify(row))
      this.$router.push({ name: 'cinema-contract-details' })
    },
    handleClick() {
    },
    // 表格自定义索引
    indexMethod(index) {
      return index / 2 + 1
    },
    // 合并行indexMethod
    objectSpanMethod({ row, column, rowIndex, columnIndex }) {
      if (columnIndex !== 3 && columnIndex !== 4) {
        if (rowIndex % 2 === 0) {
          return {
            rowspan: 2,
            colspan: 1
          }
        } else {
          return {
            rowspan: 0,
            colspan: 0
          }
        }
      }
    }
  }
}
</script>

<style scoped>

</style>
