<template>
  <div class="box-office-details">
    <el-container class="content">
      <el-tabs v-model="activeName" @tab-click="handleClick">
        <el-tab-pane label="日票房" name="day">
          <div v-if="activeName==='day'" class="paneWrap">
            <day />
          </div>
        </el-tab-pane>
        <el-tab-pane label="影片票房" name="film">
          <div v-if="activeName==='film'" class="paneWrap">
            <film />
          </div>
        </el-tab-pane>
      </el-tabs>
    </el-container>
  </div>
</template>

<script>
import film from './components/film'
import day from './components/day'
export default {
  name: 'BOCinemaSort',
  components: {
    film,
    day
  },
  data() {
    return {
      activeName: 'film'
    }
  },
  methods: {
    handleClick(tab) {
    }
  }
}
</script>

<style scoped>

</style>
