<template>
  <div class="paneContent fLFD-container">
    <tableForm
      :basic-data="basicData"
      :column-data="columnData"
      :table-data="tableData"
      @handleCurrentChange="handleCurrentChange"
      @toDetails="toTicketDetails"
      @searchBtn="changeTimeData()"
      @format="format"
    />
    <router-view />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import getData from '../../api/getData'
import tableForm from '../../components/table-form/index'
import tool from '../../utils/tool'
export default {
  name: 'TicketQuery',
  components: {
    tableForm
  },
  data() {
    return {
      basicData: {
        clickName: 'TicketQuery',
        // 选择影院
        belongCinema: '',
        // 搜索电影名称
        searchFilmName: '',
        // 选择院线
        belongLine: '',
        // // 选择城市
        // belongCity: '',
        // 日期选择插件快捷方法
        pickerOptions: {
          shortcuts: [{
            text: '最近一周',
            onClick(picker) {
              const end = new Date()
              const start = new Date()
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7)
              picker.$emit('pick', [start, end])
            }
          }, {
            text: '最近一个月',
            onClick(picker) {
              const end = new Date()
              const start = new Date()
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30)
              picker.$emit('pick', [start, end])
            }
          }, {
            text: '最近三个月',
            onClick(picker) {
              const end = new Date()
              const start = new Date()
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90)
              picker.$emit('pick', [start, end])
            }
          }]
        },
        // 是否显示父级的路由内容
        parentShow: false,
        // 筛选条件多选框
        form: {
          detailData: []
        },
        // 数据总条数
        totalNumber: 0,
        // 总页数
        pageCount: 0,
        // 当前页码
        currentPage: 1,
        // 搜索按时间
        selectBoxDate: '',
        // 多选框默认选中的类名
        checkboxDName: ''
      },
      // 表格数据
      columnData: [{
        title: 'boxdate',
        name: '时间',
        width: '180',
        show: true
      }, {
        title: 'filmNam',
        name: '影片',
        width: '180',
        show: true
      }, {
        title: 'theater',
        name: '院线',
        width: '180',
        show: true
      }, {
        title: 'cinemaName',
        name: '影院',
        width: '180',
        show: true
      }, {
        title: 'tickets',
        name: '售票数',
        width: '180',
        show: true
      }, {
        title: 'refundtickets',
        name: '退票数',
        width: '100',
        show: true
      }, {
        title: 'checkedtickets',
        name: '检票数',
        width: '180',
        show: true
      }, {
        title: 'checkedrate',
        name: '检票率',
        width: '180',
        show: true
      }],
      // 页面表格数据
      tableData: []
    }
  },
  computed: {
    ...mapGetters([
      'selectFilm',
      'defaultRow',
      'selectCinema'
    ])
  },
  created() {
    this.init()
  },
  methods: {
    toTicketDetails(val) {
      this.$store.dispatch('app/setMonitorTicketInfo', JSON.stringify(val))
      this.$router.push({ name: 'ticket-details' })
    },
    // 初始化
    init() {
      if (this.$route.name === 'ticket-details') {
        this.basicData.parentShow = false
        return
      }
      this.basicData.parentShow = true
    },
    // 格式化页面
    format() {
      this.basicData.totalNumber = 0
      this.basicData.pageCount = 0
      this.tableData = []
    },
    // 获取数据
    getFilmDailyData(nData) {
      const requestData = {
        boxDate: nData.boxDate,
        cinemaId: nData.cinemaId,
        filmId: nData.filmId,
        theaterId: nData.theaterId,
        pageNo: nData.pageNo,
        pageSize: this.defaultRow
      }
      getData.getMonitorTicket(requestData)
        .then((data) => {
          console.log(data)
          if (data.status === 200) {
            this.basicData.currentPage = requestData.pageNo
            this.basicData.totalNumber = data.data.totalElements
            this.basicData.pageCount = Math.ceil(data.data.totalElements / this.defaultRow)
            this.tableData = []
            for (const i in data.data.content) {
              if (data.data.content.hasOwnProperty(i)) {
                data.data.content[i].theater = nData.theaterId
                data.data.content[i].boxdate = nData.boxDate
                this.tableData.push(data.data.content[i])
              }
            }
          }
        }).catch(err => {
          console.log(err)
        })
    },
    // 点击分页页码
    handleCurrentChange(val) {
      const requestData = {
        boxDate: tool.formatDate8(this.basicData.selectBoxDate),
        cinemaId: this.basicData.belongCinema,
        filmId: this.basicData.searchFilmName,
        theaterId: this.basicData.belongLine,
        pageNo: val
      }
      this.getFilmDailyData(requestData)
    },
    // 点击搜索按钮
    changeTimeData() {
      if (this.basicData.selectBoxDate === '') {
        return
      }
      const requestData = {
        boxDate: tool.formatDate8(this.basicData.selectBoxDate),
        cinemaId: this.basicData.belongCinema,
        filmId: this.basicData.searchFilmName,
        theaterId: this.basicData.belongLine,
        pageNo: 1
      }
      this.getFilmDailyData(requestData)
    }
  }
}
</script>

<style scoped>

</style>
