<template>
  <div class="paneContent fLFD-container ticketDetails">
    <header class="headDetails clearFix">
      <ul class="textWrap">
        <li>
          <span class="title">场次：</span>
          <span class="info">73484586124</span>
        </li>
        <li>
          <span class="title">日期：</span>
          <span class="info">2019-09-30 10:30:00</span>
        </li>
        <li>
          <span class="title">影片：</span>
          <span class="info">哪吒之魔童转世</span>
        </li>
        <li>
          <span class="title">影院：</span>
          <span class="info">XX影院XX店</span>
        </li>
        <li>
          <span class="title">影厅：</span>
          <span class="info">C</span>
        </li>
      </ul>
      <div class="chartWrap">
        <pie v-for="pie in pieData" :key="pie.type" :pie-data="pie" />
      </div>
    </header>
    <el-tabs v-model="activeName">
      <el-tab-pane label="售票" name="sellTicket">
        <div v-if="activeName==='sellTicket'">
          <sellTicket />
        </div>
      </el-tab-pane>
      <el-tab-pane label="检票" name="ticketChecking">
        <div v-if="activeName==='ticketChecking'">
          <ticketChecking />
        </div>
      </el-tab-pane>
      <el-tab-pane label="监票" name="monitorTicket">
        <div v-if="activeName==='monitorTicket'">
          <monitorTicket />
        </div>
      </el-tab-pane>
      <el-tab-pane label="监映" name="surveillance">
        <div v-if="activeName==='surveillance'">
          <surveillance />
        </div>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script>
import monitorTicket from './components/monitorTicket'
import sellTicket from './components/sellTicket'
import surveillance from './components/surveillance'
import ticketChecking from './components/ticketChecking'
import pie from '../../../components/charts/pie'
export default {
  name: 'TicketDetails',
  components: {
    monitorTicket,
    sellTicket,
    surveillance,
    ticketChecking,
    pie
  },
  data() {
    return {
      pieData: [{
        type: '售票',
        info: 100
      }, {
        type: '监映',
        info: '通过'
      }, {
        type: '检票',
        info: 99
      }, {
        type: '异检',
        info: 75
      }, {
        type: '监票',
        info: 175
      }],
      activeName: 'sellTicket'
    }
  },
  created() {
  },
  methods: {
  }
}
</script>

<style scoped>

</style>
